@import '/components/room-showcase/room-showcase.scss';
@import '/components/doughnut/doughnut.scss';
@import '/components/list/list.scss';
@import '/components/like/like.scss';
@import '/components/form-room-reservation/form-room-reservation.scss';
@import '/components/benefit/benefit.scss';
@import '/components/testimonial/testimonial.scss';

.room-details {
  &__wrapper {
    display: flex;
    flex: 1;
    padding-top: 71px;
    padding-bottom: 56px;

    @media (max-width: $break-md) {
      flex-direction: column;
      align-items: center;

      & > * + * {
        margin-top: 30px;
      }
    }

    @media (max-width: $break-sm) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__showcase {
    display: flex;
    flex: 1;
    align-items: stretch;
    max-width: 1440px;
    min-height: 485px;
    margin: 0 auto;
  }

  &__info {
    display: flex;

    @media (max-width: $break-sm) {
      flex-direction: column;
    }
  }

  &__benefits {
    margin-right: 30px;
    flex: 0 1 326px;

    @media (max-width: $break-sm) {
      flex: 1;
    }

    @media (max-width: $break-sm) {
      margin-right: 0;
      flex: 0;
    }

    &-listing {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-left: -5px;
      margin-right: -5px;
    }
  }

  &__benefit {
    flex: 1;
    flex-basis: 250px;
    margin-left: 5px;
    margin-right: 5px;

    & + & {
      margin-top: 12px;

      @media (max-width: $break-sm) {
        margin-top: 0;
      }
    }
  }

  &__stats {
    @media (max-width: $break-sm) {
      margin-top: 30px;
    }

    &-title {
      margin-bottom: 19px;
      padding-left: 6px;
    }
  }

  &__sidebar {
    flex: 0;
    flex-basis: 380px;
  }

  &__content {
    flex: 1;

    @media (max-width: $break-md) {
      max-width: 800px;
    }
  }

  &__testimonials {
    margin-top: 17px;
    padding-right: 70px;

    @media (max-width: $break-md) {
      padding-right: 0;
    }

    @media (max-width: $break-sm) {
      margin-top: 40px;
    }

    .testimonial {
      margin-top: 26px;
    }

    &-total {
      margin-top: 7px;
      font-size: 13px;
      font-weight: normal;
      float: right;
      color: $dark-500;

      @media (max-width: $break-sm) {
        display: none;
      }
    }
  }

  &__rules {
    display: flex;
    margin-top: 34px;
    padding-left: 20px;

    @media (max-width: $break-sm) {
      flex-direction: column;
    }

    &-behavior {
      min-width: 240px;
    }

    &-list {
      margin-top: 18px;
      margin-left: -20px;
    }

    &-cancel {
      margin-left: 102px;
      padding-right: 80px;

      @media (max-width: $break-md) {
        margin-left: 30px;
        padding-right: 0;
      }

      @media (max-width: $break-sm) {
        margin-left: 0;
        margin-top: 20px;
      }
    }

    &-desc {
      margin-top: 20px;
      font-size: 14px;
      line-height: 23px;
    }
  }
}
