.details-page {

  .main {
    margin-bottom: 76px;
  }

  .main__wrapper {
    padding-top: 70px;
    flex-direction: row;
    align-items: flex-start;
  }

  .page__content {
    flex: 1;
    margin-right: 70px;
  }

  .page__sidebar {
    flex: 0 1 380px;
  }

  .room-info {
    flex: 0 1 280px;
    margin-right: 80px;
  }

  .room-stats {

    .chart {
      justify-content: flex-start;
    }
    & > * + * {
      margin-top: 24px;
    }
  }

  .testimonials {
    .testimonial {
      margin-top: 22px;
    }
  }

  .additional-info {
    margin-top: 40px;
  }

  .behavior-rules {
    ul,
    ol {
      margin-left: -20px;

      & > li {
        margin-top: 5px;
      }
    }
  }

  .footer {
    border-top: 1px solid $dark-250;
    padding-top: 100px;
  }
  &__hero {
    height: 486px;
  }
}
