extends /layout/base.pug

block variables
  - var pageTitle = 'Room Details'
  - var bodyClass = 'details-page'

block append parts
  include /components/library/hero/hero.pug
  include /components/library/chart-doughnut/chart-doughnut.pug
  include /components/library/list/list.pug
  include /components/project/room-reservation/room-reservation.pug
  include /components/project/benefit/benefit.pug
  include /components/project/testimonial/testimonial.pug

block main
  +hero({
    sliderOptions: {
      slides: [{
          img: '/assets/img/hero1.jpg',
          url: '#'
        }, {
          img: '/assets/img/hero2.jpg',
          url: '#'
        }, {
          img: '/assets/img/hero3.jpg', 
          url: '#'
      }],
      showThumbnails: true,
      thumbnailsParams: {
        direction: 'vertical',
        slidesPerView: 2,
      }
    }, 
    mods: `${bodyClass}_hero`,
  })

  .page-wrapper
    .row
      article.content
        .main-info
          .room-info
            h3 Сведения о номере
            +benefit({
              iconName: 'emoticon-happy', 
              title: 'Комфорт',
              desc: 'Шумопоглощающие стены',
            })
            +benefit({
              iconName: 'location-city', 
              title: 'Удобство',
              desc: 'Окно в каждой из спален',
            })
            +benefit({
              iconName: 'fire', 
              title: 'Уют',
              desc: 'Номер оснащен камином',
            })

          .room-stats
            h3 Впечатления от номера
            +chart-doughnut({
              data: [{
                value: 100,
                label: 'Великолепно',
                bg: '#FFE39C'
              }, {
                value: 60,
                label: 'Хорошо',
                bg: '#6FCF97'
              }, {
                value: 60,
                label: 'Удовлетворительно',
                bg: '#BC9CFF'
              }, {
                value: 40,
                label: 'Разочарован',
                bg: '#919191'
              }]
            })
        
        .row
          .testimonials
            h3 Отзывы посетителей номера
            +testimonial({
              userName: 'Мурад Сарафанов', 
              userImg: '/assets/img/testimonial-user.jpg',
              text: `Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. 
                И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.`,
              createdAt: `${Date.now() - 1000 * 60 * 60 * 24 * 5}`,
              numLikes: 12,
            })
            +testimonial({
              userName: 'Патрисия Стёклышкова', 
              userImg: '/assets/img/testimonial-user.jpg',
              text: `Обслуживание на высоте! Все аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое
                блюдо и десерт как комплимент`,
              createdAt: `${Date.now() - 1000 * 60 * 60 * 24 * 7}`,
              numLikes: 2,
            })

        .row
          .behavior-rules
            h3 Правила
            +list({items: 
              [
                'Нельзя с питомцами', 
                'Без вечеринок и мероприятий', 
                'Время прибытия — после 13:00, а выезд до 12:00'
              ]
            })

          .cancel-rules
            h3 Отмена
            p 
              | Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. 
              | до прибытия вы получите полный возврат за вычетом сбора за услуги.

      aside.sidebar
        +room-reservation({
          roomNumber: 888, 
          price: 9990,
          fees: [{
            title: 'Скидка',
            desc: 'Скидка постоянному клиенту',
            amount: -2179
          }, {
            title: 'Сбор за дополнительные услуги',
            desc: 'Боди массаж',
            amount: 300
          }]
        })