extends /layout/base.pug

block append meta
  meta(name= "keywords", content= "toxin-hotel, details")
  meta(name= "description", content= "Toxin-hotel details page")

block variables
  - var pageTitle = 'Room Details'
  - var bodyClass = 'room-details'

block append parts
  include /components/room-showcase/room-showcase.pug
  include /components/doughnut/doughnut.pug
  include /components/list/list.pug
  include /components/form-room-reservation/form-room-reservation.pug
  include /components/benefit/benefit.pug
  include /components/testimonial/testimonial.pug

block main
  .full-width
    .room-details__showcase
      +room-showcase({ 
        first: '/assets/img/room-details-1.jpg', 
        second: '/assets/img/room-details-2.jpg', 
        third: '/assets/img/room-details-3.jpg' 
      })

  .bounded-width.room-details__wrapper
    article.room-details__content
      .room-details__info
        .room-details__benefits
          h3 Сведения о номере
          .room-details__benefit
            +benefit({icon: 'emoticon-happy', title: 'Комфорт', desc: 'Шумопоглощающие стены'})
          .room-details__benefit
            +benefit({icon: 'location-city', title: 'Удобство', desc: 'Окно в каждой из спален'})
          .room-details__benefit
            +benefit({icon: 'fire', title: 'Уют', desc: 'Номер оснащен камином'})

        .room-details__stats
          h3.room-details__stats-title Впечатления от номера
          +doughnut({
            data: [{
              value: 100,
              label: 'Великолепно',
              bg: '#FFE39C'
            }, {
              value: 60,
              label: 'Хорошо',
              bg: '#6FCF97'
            }, {
              value: 60,
              label: 'Удовлетворительно',
              bg: '#BC9CFF'
            }, {
              value: 40,
              label: 'Разочарован',
              bg: '#919191'
            }]
          })
      
      .room-details__testimonials
        h3.room-details__testimonials-title 
          | Отзывы посетителей номера
          span.room-details__testimonials-total 2 отзыва
        .room-details__testimonial
          +testimonial({
            userName: 'Мурад Сарафанов', 
            userImg: '/assets/img/testimonial-user-1.png',
            text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
            createdAt: '5 дней назад',
            numLikes: 12,
          })
        .room-details__testimonial
          +testimonial({
            userName: 'Патрисия Стёклышкова', 
            userImg: '/assets/img/testimonial-user-2.png',
            text: `Обслуживание на высоте! Все аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое
              блюдо и десерт как комплимент`,
            createdAt: 'Неделю назад',
            numLikes: 2,
          })

      .room-details__rules
        .room-details__rules-behavior
          h3.room-details__rules-title Правила
          .room-details__rules-list
            +list({items: 
              [
                'Нельзя с питомцами', 
                'Без вечеринок и мероприятий', 
                'Время прибытия — после 13:00, а выезд до 12:00'
              ]
            })

        .room-details__rules-cancel
          h3.room-details__title Отмена
          p.room-details__rules-desc 
            | Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. 
            | до прибытия вы получите полный возврат за вычетом сбора за услуги.

    aside.room-details__sidebar
      +form-room-reservation({room: 888, price: 9990, isLux: true})