.room-details-page {
  &__wrapper {
    display: flex;
  }

  &__info {
    display: flex;
  }

  &__rules {
    display: flex;
  }

  &__content {
    flex: 1;
  }

  &__sidebar {
    flex: 0;
    flex-basis: 380px;
  }

  .testimonials {
    margin-top: 13px;

    .testimonial {
      margin-top: 25px;
    }
  }

  .behavior-rules {
    margin-top: 34px;
    padding-left: 20px;

    ul {
      margin-top: 20px;
      margin-left: -20px;
    }
  }

  .cancel-rules {
    margin-top: 34px;
    padding-left: 30px;

    p {
      margin-top: 20px;
      font-size: 14px;
      line-height: 23px;
    }
  }

  .footer {
    border-top: 1px solid $dark-250;
    padding-top: 100px;
  }
}
