.room-details {
  .footer {
    border-top: 1px solid $dark-250;
    padding-top: 100px;
  }
  &__wrapper {
    display: flex;
    padding-top: 71px;
  }

  &__showcase {
    display: flex;
    flex: 1;
    max-width: 1440px;
    min-height: 485px;
    margin: 0 auto;
    align-items: stretch;
  }

  &__info {
    display: flex;
  }

  &__benefits {
    flex-basis: 280px;
    margin-right: 76px;
  }

  &__benefit + &__benefit {
    margin-top: 11px;
  }

  &__stats {
    &-title {
      margin-bottom: 19px;
      padding-left: 6px;
    }
  }

  &__content {
    flex: 1;
  }

  &__sidebar {
    flex: 0;
    flex-basis: 380px;
  }

  &__testimonials {
    margin-top: 17px;
    padding-right: 70px;

    .testimonial {
      margin-top: 25px;
    }

    &-total {
      margin-top: 5px;
      font-size: 13px;
      font-weight: normal;
      float: right;
      color: $dark-500;
    }
  }

  &__rules {
    display: flex;
    margin-top: 34px;
    padding-left: 20px;

    &-behavior {
      min-width: 240px;
    }

    &-list {
      margin-top: 18px;
      margin-left: -20px;
    }

    &-cancel {
      margin-left: 102px;
      padding-right: 80px;
    }

    &-desc {
      margin-top: 20px;
      font-size: 14px;
      line-height: 23px;
    }
  }
}
