.details-page {
  .main {
    max-width: 1440px;
    padding: 0;
  }

  .main__wrapper {
    margin: 0;
  }

  .page-wrapper {
    @include wrapper();

    margin-top: 70px;
    padding-bottom: 54px;
  }

  .content {
    @include col();
    @include size(8);
    @include size-md(12);
  }

  .sidebar {
    @include col();
    @include size(4);
    @include size-md(12);
    @include md-block() {
      padding-top: 30px;
      justify-content: center;
    }

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .main-info {
    @include row();
  }

  .room-info {
    @include col();
    @include size(5);
    @include size-sm(8);
  }

  .room-stats {

    @include col();
    @include size(7);
    @include size-sm(12);
    @include sm-block() {
      margin-top: 20px;
      padding-left: 0;
    }

    padding-left: 30px;

    .chart {
      margin-top: 24px;
      justify-content: flex-start;
    }
  }

  .testimonials {

    @include col();
    @include size(12);
    @include sm(margin-top, 40px);

    margin-top: 13px;

    .testimonial {
      margin-top: 25px;
    }
  }

  .behavior-rules {
    @include col();
    @include size(5);

    margin-top: 34px;
    padding-left: 20px;

    ul {
      margin-top: 20px;
      margin-left: -20px;
    }
  }

  .cancel-rules {
    @include col();
    @include size(7);

    margin-top: 34px;
    padding-left: 30px;

    p {
      margin-top: 20px;
      font-size: 14px;
      line-height: 23px;
    }
  }

  .footer {
    border-top: 1px solid $dark-250;
    padding-top: 100px;
  }

  &_hero {

    @include md-block() {
      .swiper-container-thumbs {
        width: 250px;
      }
    }

    @include sm-block() {
      .swiper-container-thumbs {
        display: none;
      }
    }

    height: 486px;
  }
}
