.details-page {
  .main {
    max-width: 1440px;
    padding: 0;
  }

  .main__wrapper {
    margin: 0;
  }

  .page-wrapper {
    margin-top: 70px;
    padding-bottom: 54px;
  }

  .content {
  }

  .sidebar {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .main-info {
  }

  .room-info {
  }

  .room-stats {
    padding-left: 30px;

    .chart {
      margin-top: 24px;
      justify-content: flex-start;
    }
  }

  .testimonials {
    margin-top: 13px;

    .testimonial {
      margin-top: 25px;
    }
  }

  .behavior-rules {
    margin-top: 34px;
    padding-left: 20px;

    ul {
      margin-top: 20px;
      margin-left: -20px;
    }
  }

  .cancel-rules {
    margin-top: 34px;
    padding-left: 30px;

    p {
      margin-top: 20px;
      font-size: 14px;
      line-height: 23px;
    }
  }

  .footer {
    border-top: 1px solid $dark-250;
    padding-top: 100px;
  }

  &_hero {
    height: 486px;
  }
}
