//- Fees listing
//-
//- items     array ([]) - fee items
//--- item {
//---   title     string ('')
//---   desc      string ('')
//---   total     number ('')
//--- }
//- total     string ('')
mixin fees({items = [], currency = '₽', total = 0} = {})
  include /components/icon/icon.pug

  .fees
    each item in items
      .fee
        .fee__title= item.title
        if (item.desc)
          .fee__desc(title = item.desc)
            +icon({ name: 'info', size: 'auto' })
        .fee__total= item.total
    .fees__result
      .fees__title Итого
      .fees__separator
      .fees__total= total