@import '/components/icon/icon.scss';

$pagination-color: #000 !default;
$pagination-current-page-color: #fff !default;
$pagination-item-width: 40px !default;
$pagination-item-height: 40px !default;
$pagination-arrow-bg: #eee !default;

.pagination {
  display: flex;
  flex-flow: column nowrap;

  &__listing {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
  }

  &__arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $pagination-item-width;
    height: $pagination-item-height;
    padding: 0;
    background: $pagination-arrow-bg;
    border-radius: 50%;

    .button__icon {
      position: static;
    }
  }

  &__page {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $pagination-item-width;
    height: $pagination-item-height;
    color: $pagination-color;
    padding: 0;
    font-size: 12px;
    line-height: 15px;

    &-current {
      color: $pagination-current-page-color;
      background: linear-gradient(180deg, #bc9cff, #8ba4f9);
      border-radius: 50%;

      &:visited {
        color: $pagination-current-page-color;
      }
    }
  }

  &__dots {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $pagination-item-width;
    height: $pagination-item-height;
    color: $pagination-color;
  }

  &__label {
    text-align: center;
    font-size: 14px;
  }
}
