//- Panel
//-
//- title           string ('') - Panel title
//- isCollapsible   boolean (true) - If true - panel can collapse and expand. Toggle icon will be shown in this case
//- isCollapsed     boolean (false) - If true - will render in collapsed state
mixin panel({title = '', isCollapsible = false, isCollapsed = false} = {})
  include /components/icon/icon.pug

  -
    const icon = 'semi-arrow-up';

    const classList = ['panel'];

    if (isCollapsed) classList.push('panel_is-collapsed');

  div(class = classList, data-panel, data-is-collapsible = isCollapsible)
    .panel__header(data-panel-header)
      .panel__title= title 

      if (isCollapsible)
        .panel__toggler(data-panel-toggler)
          +icon({ name: icon, size: 'small' })

    .panel__body(data-panel-body)
      if block
        block
