//- Panel
//-
//- title           string ('') - Panel title
//- isCollapsible   boolean (true) - If true - panel can collapse and expand. Toggle icon will be shown in this case
//- isCollapsed     boolean (false) - If true - will render in collapsed state
//- icon            string ('semi-arrow-up') - Name of icon for toggler
mixin panel(
  title = '',
  isCollapsible = true,
  isCollapsed = false,
  icon = 'semi-arrow-up'
)
  include /components/icon/icon.pug

  -
    const togglerMods = ['panel__toggler']
    const bodyMods = ['panel__body']

    if (props.isCollapsed) {
      togglerMods.push('panel__toggler_collapsed');
      bodyMods.push('panel__body_collapsed');
    }

  .panel('data-is-collapsible' = isCollapsible)
    .panel__header
      span.panel__title= title 

      if (isCollapsible)
        div(class= togglerMods)
          +icon({name: icon})

    div(class= bodyMods)
      if block
        block


