//- Off canvas 
//-
//- id    string ('') - id for reference
mixin off-canvas({id=''} = {})
  include /components/off-canvas-toggler/off-canvas-toggler.pug

  .off-canvas(id = id, data-off-canvas)
    if (block)
      block