//- Off canvas 
//-
//- id          string ('') - id for reference
mixin off-canvas({id='', isLoggedIn} = {})
  include /components/button/button.pug

  .off-canvas(id = id, data-off-canvas)
    if block
      block
    if (isLoggedIn)
      a.off-canvas__profile-link(href = dummyURL) Cosmin Negoita
    else 
      .off-canvas__auth
        +button({type: 'link', size: 'small', isOutlined: true}) войти
        +button({type: 'link', size: 'small'}) зарегистрироваться