$off-canvas-width: 300px;
$off-canvas-small-width: 240px;
$off-canvas-duration: 300ms;

.off-canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  right: -$off-canvas-width;
  bottom: 0;
  width: $off-canvas-width;
  margin: 0;
  padding: 20px 30px;
  background-color: $white;

  @media (max-width: $break-sm) {
    right: -$off-canvas-small-width;
    width: $off-canvas-small-width;
  }

  &__container {
    transition: transform $off-canvas-duration ease;
  }

  &__parent {
    transform: translateX(-$off-canvas-width);

    @media (max-width: $break-sm) {
      transform: translateX(-$off-canvas-small-width);
    }

    @media (min-width: $break-md) {
      transform: translateX(0);
    }
  }

  &__close {
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: right;
  }

  &_is-opened {
    z-index: 1;
  }
}
