extends /layout/without-sidebar.pug

block variables
  - var pageTitle = 'Toxin Login'
  - var bodyClass = 'login-page'

block append parts
  include /components/library/hero/hero.pug
  include /components/project/login/login.pug

block append header
  +hero({
    images: ['/assets/img/hero1.jpg', '/assets/img/hero2.jpg', '/assets/img/hero3.jpg'], 
    mods: ['login-page_hero'],
  })
    +login()
