.login {
  &__hero {
    height: 683px;
  }

  .footer {
    padding-bottom: 98px;

    &__menu-title {
      margin-bottom: 21px;
    }

    &__subscription-title {
      margin-bottom: 19px;
    }
  }
}
