//- Radio
//-
//- name        string ('') - name attribute for underlying input element
//- isChecked   boolean (false) - If true - radio is rendered as checked
mixin radio({name = '', isChecked = false} = {})
  .radio(data-radio)
    label
      input.radio__input(type = 'radio', name = name, checked = isChecked)
      span.radio__custom