include /blocks/library/menu/menu.pug
include /blocks/library/button/button.pug

//- Main header
//- @param {boolean} isLoggedIn If user is logged in
//- @param {string} userName User name to show in auth block
mixin header(params)
  - 
    params = deepmerge({
      isLoggedIn: false,
      userName: 'Cosmin Negoita'
    }, params)
    
    menuData = getData('menuMain')

  header.header
    include /assets/img/logo.svg
    +menu({items: menuData, modifiers: ['header__menu']})
    if params.isLoggedIn
      .header__auth.header__auth_is-logged-in
        a(class= 'header__profile-link', href= '#')= params.userName
    else 
      .header__auth
        +button({value: 'login', isOutlined: true, modifiers: ['header__button']})
        +button({value: 'register', modifiers: ['header__button']})
