//- Text input component
//- mods  {array} Modifier classes
mixin form-field-text(props = {})
  include /components/library/form-field/form-field.pug

  -
    props = Object.assign({
      mods: [],
    }, props)

    attributes = Object.assign({
      type: 'text', 
    }, attributes)

    var classList = ['form-field-text'].concat(props.mods)

  +form-field({mods: classList})&attributes(attributes)