//- Text input component
//- mods  {array} Modifier classes
mixin form-field-text(params = {})
  include /components/library/form-field/form-field.pug

  -
    params = deepmerge({
      mods: [],
    }, params)

    attributes = deepmerge({
      type: 'text', 
    }, attributes)

    var classList = ['form-field-text'].concat(params.mods)

  +form-field({mods: classList})&attributes(attributes)