//- Rating
//-
//- value             number (0) - Rating value
//- total             number (5) - Number of icons to show
//- isPartial         boolean (false) - If true - partial rating can be used, false - otherwise
mixin rating({value = 0, total = 5, isPartial = false} = {}) 
  include /components/icon/icon.pug

  -
    const iEmpty = 'star';
    const iFilled = 'star-active';
    const iHalf = 'star-half-active';

  .rating(
    data-rating,
    data-value = value,
    data-is-partial = isPartial,
    data-icon-empty = iEmpty,
    data-icon-filled = iFilled,
    data-icon-half = iHalf)
    - for (let i = 0; i < total; i += 1)
      .rating__icon(data-rating-icon)
        +icon({ name: iEmpty, size: 'big' })