.footer-menu {
  &__title {
    margin-bottom: 20px;
    font-size: 11px;
    font-family: $font-family-main;
    text-transform: uppercase;
  }

  @media (max-width: $break-md) {
    text-align: center;

    .menu.menu_is-vertical {
      align-items: center;
    }
  }
}
