extends /layout/base.pug

block variables
  - var pageTitle = 'Toxin Landing Page 1'
  - var bodyClass = 'landing-page'

block append parts
  include /components/library/hero/hero.pug
  include /components/project/room-search/room-search.pug

block main
  +hero({
    sliderOptions: {
      slides: [{
          img: '/assets/img/hero1.jpg',
          url: '#'
        }, {
          img: '/assets/img/hero2.jpg',
          url: '#'
        }, {
          img: '/assets/img/hero3.jpg', 
          url: '#'
      }]
    }, 
    info: 'Лучшие номера для вашей работы, отдыха и просто вдохновения'
  })
    +room-search({
      labels: {
        title: "Найдём номера под ваши пожелания",
        arrival: "Прибытие",
        departure: "Выезд",
        guests: "Гости",
        submit: "Подобрать номер"
      }
    })
