.landing {
  &__footer {
    background: $white;
    max-width: $site-max-width;
    margin: 0 auto;
    padding-top: 6px;
  }

  &__copyright {
    background: $white;
    max-width: $site-max-width;
    margin: 0 auto;
    padding-top: 7px;
  }
}
