//- Benefit component
//-
//- icon    string ('') Icon name
//- title   string ('') Header text
//- desc    string ('') Description text
mixin benefit({icon = '', title = '', desc = ''} = {})
  include /components/icon/icon.pug

  .benefit('data-benefit')
    if (icon)
      .benefit__aside
        +icon({ name: icon })
    .benefit__main
      if (title)
        h3.benefit__title= title
      if (desc)
        .benefit__desc= desc
