//- Benefit component
//-
//- icon    string ('') Icon name
//- title   string ('') Header text
//- desc    string ('') Description text
mixin benefit(props = {})
  include /components/icon/icon.pug

  -
    const { icon, title, desc } = Object.assign({
      icon: '', 
      title: '', 
      desc: ''
    }, props);

  .benefit
    if (icon)
      .benefit__aside
        +icon({name: icon})
    .benefit__main
      if (title)
        h3.benefit__title= title
      if (desc)
        .benefit__desc= desc
