$benefit-border: 1px solid #eee !default;

.benefit {
  display: flex;
  font-size: 14px;
  line-height: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: $benefit-border;

  &:last-child {
    border-bottom: 0;
  }

  &__aside {
    width: 48px;
  }

  &__main {
    margin-left: 10px;
  }

  &__icon {
    width: 46px;
    height: 42px;
  }

  &__title {
    margin-bottom: 4px;
    font-size: 15px;
    letter-spacing: 0;
  }
}
