include /components/project/header/header.pug
include /components/project/footer/footer.pug
include /components/project/copyright-bar/copyright-bar.pug
include /components/project/subscription/subscription.pug
include /components/project/testimonial/testimonial.pug
include /components/project/benefit/benefit.pug
include /components/project/room-search/room-search.pug
include /components/project/room-reservation/room-reservation.pug
include /components/project/register/register.pug
include /components/project/login/login.pug
include /components/project/room-card/room-card.pug