.copyright-bar {
  min-height: 74px;
  padding: 23px 0;
  font-size: 14px;
  border-top: 1px solid $dark-100;

  &__wrapper {
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
  }

  &__text {
  }

  &__icons {
    .icon {
      width: 24px;
      height: 24px;
    }
  }
}
