mixin filter-price
  .filter-price(data-filter-price)
    .filter-price__header
      .filter-price__label
        +label({ value: 'Диапазон цены', pos: 'left', theme: ['bold', 'upper'] })
      .filter-price__result 5 000₽ - 10 000₽
    .filter-price__range
      +range-slider({
        params: {
          start: [5000, 10000],
          range: {min: 200, max: 15500},
          connect: [false, true, false],
          format: {
            decimals: 0,
            thousand: ' ',
            suffix: '₽'
          }
        }
      })
    .filter-price__desc Стоимость за сутки пребывания в номере
