.login {
  &__footer {
    background: $white;
    max-width: $site-max-width;
    margin: 0 auto;
    padding-top: 9px;
  }

  &__copyright {
    background: $white;
    max-width: $site-max-width;
    margin: 0 auto;
    padding-top: 5px;
  }
}
