@import '/components/hero/hero.scss';
@import '/components/form-login/form-login.scss';

.sign-in {
  &__footer {
    background: $white;
    max-width: $site-max-width;
    margin: 0 auto;
    padding-top: 9px;
  }

  &__copyright {
    background: $white;
    max-width: $site-max-width;
    margin: 0 auto;
    padding-top: 5px;
  }
}
