//- Button
//-
//- type    oneOf ('button' | 'link') - Type of underlying dom element
//- href    string ('') - Href if type is 'link' 
//- mods    setOf (
              'rounded',      // button has rounded corners
              'outlined',     // button has border, but no background
              'disabled',     // button is disabled
              'expanded',     // button is expanded to the width of container
              'text-only',    // button has no border and background
            )
mixin button({type: 'button', href: '' mods: []} = {})
  -
    const baseClass = 'button'
    const classList = mods.map(mod => `${baseClass}_is-${mod}`).concat(baseClass)
    const isDisabled = mods.includes('disabled')

  if (type === 'button')
    button(class = classList, disabled = isDisabled)
      if block
        block
  else
    a(class = classList, href = href)
      if block
        block
