$button-small-height: 34px;
$button-height: 44px;
$button-big-height: 54px;
$button-padding: 0 20px;
$button-border-width: 2px;
$button-border-radius: 22px;
$button-font-size: 12px;
$button-text-color: $white;

.button {
  $root: &;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: $button-height;
  padding: $button-padding;
  overflow: hidden;
  vertical-align: middle;
  color: $button-text-color;
  background: $primary-gradient;
  border-style: none;
  outline: none;
  font-size: $button-font-size;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover,
  &:active {
    opacity: 0.5;
    color: $button-text-color;
    text-decoration: none;
    outline: none;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
  }

  &_is-small {
    min-height: $button-small-height;
  }

  &_is-big {
    min-height: $button-big-height;
  }

  &_is-rounded {
    border-radius: $button-border-radius;
  }

  &_is-outlined {
    border: $button-border-width solid transparent;
    padding: 0 17px;
    color: $primary;
    background-image: linear-gradient($button-text-color, $button-text-color), $primary-gradient;
    background-origin: border-box;
    background-clip: padding-box, border-box;

    &:hover {
      color: $primary;
      opacity: 0.5;
    }
  }

  &_is-text-only {
    padding: 0;
    border: none;
    background: none;
    color: $primary;

    &:hover,
    &:active {
      color: rgba(31, 32, 65, 0.5);
    }
  }

  &_is-disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      color: $button-text-color;
      text-decoration: none;
    }
  }

  &_is-expanded {
    width: 100%;
  }
}
