@import '/components/social-icons/social-icons.scss';

.footer-creative {
  color: $dark-750;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 770px;
    min-height: 367px;
    margin: 0 auto;
    padding: 30px;
    background: $white;
  }

  &__logo {
    text-align: center;
  }

  &__text {
    max-width: 550px;
    margin-top: 17px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
  }

  &__social {
    margin-top: 20px;
    text-align: center;
  }
}
