//- Menu component
//- orientation   {'horizontal' | 'vertical'} Menu items orientation
//- mods          {array} Modifier classes
//- items         {array} Menu items
//--- name      {string} Menu item name
//--- href      {string} Menu item href
//--- isActive  {boolean} Is this currently selected menu item
//--- submenu   {array} Array of submenu items 
mixin menu(params)
  include /components/library/icon/icon.pug

  -
    params = deepmerge({
      orientation: 'horizontal',
      mods: [],
      items: []
    }, params)

    var classList = ['menu'].concat(params.mods)

    if (params.orientation) classList.push(`menu_${params.orientation}`)

  ul(class= classList)
    each item in params.items
      li(class= 'menu__item')
        - var linkClassList = ['menu__link']
        - if (item.isActive) linkClassList.push('menu__link_active')
        a(href= item.href, class= linkClassList)= item.name
        if item.submenu
          - var submenuClassList = ['menu__submenu']
          - if (item.isActive) submenuClassList.push('menu__submenu_active')
          +icon({name: 'semi-arrow-down'})
          ul(class= submenuClassList)
            each subItem in item.submenu
              li(class= 'menu__item')
                - var submenuLinkClassList = ['menu__link']
                - if (subItem.isActive) submenuLinkClassList.push('menu__link_active')
                a(href= subItem.href, class= submenuLinkClassList)= subItem.name
