$menu-font-size: 0.85rem !default;
$menu-horizontal-spacing: 1.5rem !default;
$menu-vertical-spacing: 0.9rem !default;
$menu-link-color: rgba(31, 32, 65, 0.75) !default;
$menu-link-hover-color: rgba(31, 32, 65, 0.75) !default;

.menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @import './__submenu/menu__submenu';
  @import './__item/menu__item';
  @import './__link/menu__link';
  @import './_horizontal/menu_horizontal';
  @import './_vertical/menu_vertical';
}
