.menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  &_horizontal {
    flex-direction: row;
    align-items: center;
  }

  &_vertical {
    align-items: flex-start;

    & > .menu__item {
      margin-right: 0;
      margin-bottom: $menu-vertical-spacing;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: $menu-horizontal-spacing;

    &_has-submenu {
      position: relative;
    }

    &:hover > .menu__submenu {
      display: block;
      visibility: visible;
      opacity: 1;
    }

    .icon {
      width: 0.75rem;
      height: 0.75rem;
      margin-left: 0.4rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__submenu {
    visibility: hidden;
    opacity: 0;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    z-index: 100;
    background: $white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    transition: all 0.5s ease;

    &_is-active {
      display: block;
      visibility: visible;
      opacity: 1;
    }

    & > .menu__item {
      margin-right: 0;
      padding: 0.3rem 0.8rem;

      &:hover {
        text-decoration: underline;
      }
    }

    &:hover {
      display: block;
      visibility: visible;
      opacity: 1;
    }

    &:before {
      content: '';
      display: block;
      height: 20px;
      position: absolute;
      top: -20px;
      width: 100%;
    }
  }

  &__link {
    display: block;
    color: $menu-link-color;
    text-decoration: none;
    font-size: $menu-font-size;

    &_is-active {
      color: $dark-750;
    }

    &:hover {
      color: $menu-link-hover-color;
      text-decoration: none;
      cursor: pointer;
    }

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
