.button {
  display: inline-flex;
  position: relative;
  height: $button-height;
  padding: 0.9375rem 1.25rem;
  align-items: center;
  justify-content: center;
  color: $white;
  background: $primary-gradient;
  font-size: $button-font-size;
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  &:hover {
    opacity: 0.5;
    color: $white;
    text-decoration: none;
  }

  &_is-rounded {
    border-radius: 1.375rem;
  }

  &_is-outlined {
    color: $primary;
    background: $white;
    height: $button-height;
    border: $button-border-width solid transparent;
    background-clip: padding-box;

    &:hover {
      color: $primary;
      opacity: 1;
    }

    &:hover::before {
      opacity: .5;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      margin: -$button-border-width;
      border-radius: inherit;
      background: $primary-gradient;
    }

    .button__icon {
      fill: url(#paint0_linear);
      top: 0.45rem;
    }
  }

  &_is-text {
    background: none;
    border: none;
    color: $primary;

    &:hover {
      color: rgba(31, 32, 65, 0.5);
    }
  }

  &_is-disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }

  &_is-expanded {
    width: 100%;
  }

  &_has-icon {
    padding: 0 3rem;
  }

  &__icon {
    position: absolute;
    fill: $white;
    top: 0.625rem;

    &_right {
      right: 0.625rem;
    }

    &_left {
      left: 0.625rem;
    }
  }
}
