.button {
  display: inline-flex;
  position: relative;
  height: $button-height;
  padding: $button-padding;
  align-items: center;
  justify-content: center;
  color: $button-text-color;
  background: $primary-gradient;
  font-size: $button-font-size;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
    color: $button-text-color;
    text-decoration: none;
  }

  &_is-rounded {
    border-radius: $button-border-radius;
  }

  &_is-outlined {
    color: $primary;
    border: $button-border-width solid transparent;
    background-image: linear-gradient($button-text-color, $button-text-color), $primary-gradient;
    background-origin: border-box;
    background-clip: padding-box, border-box;

    &:hover {
      color: $primary;
      opacity: 0.5;
    }

    .button__icon {
      fill: url(#paint0_linear);
      top: 0.45rem;
    }
  }

  &_is-text {
    background: none;
    border: none;
    color: $primary;

    &:hover {
      color: rgba(31, 32, 65, 0.5);
    }
  }

  &_is-disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      color: $button-text-color;
      text-decoration: none;
    }
  }

  &_is-expanded {
    width: 100%;
  }

  &_has-icon {
    padding: 0 3rem;
  }

  &_ripple-effect {
    position: absolute;
    z-index: 1;
    width: 1px;
    height: 1px;
    animation: ripple 1s;
    border-radius: 50%;
    background: $white;
  }

  &__icon {
    position: absolute;
    fill: $button-text-color;
    top: 0.625rem;

    &_right {
      right: 0.625rem;
    }

    &_left {
      left: 0.625rem;
    }
  }
}

@keyframes ripple {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(50);
    opacity: 0;
  }
}
