//- Filter with choices
//-
//- type      oneOf ('single' | 'multiple') - Use radio buttons if 'single', checkboxes if 'multiple'
//- choices   array ([])
//--- choice {
//---   label       string or array of strings for label title
//---   desc        string or array of strings for label desc
//---   name        string ('')
//---   isChecked   boolean (false)
//--- }
//- theme     setOf ('bold' | 'upper')
mixin filter-choices({type = 'multiple', choices = [], theme = []} = {})
  include /components/label/label.pug
  include /components/checkbox/checkbox.pug
  include /components/radio/radio.pug

  - const choiceMixin = type === 'multiple' ? 'checkbox' : 'radio';

  .filter-choices
    each choice in choices
      .filter-choices__item
        +label({value: choice.label, desc: choice.desc, theme: theme})
          +#{choiceMixin}({name: choice.name, isChecked: choice.isChecked})