@import '/components/label/label.scss';
@import '/components/checkbox/checkbox.scss';
@import '/components/radio/radio.scss';

.filter-choices {
  $root: &;

  &__item + &__item {
    margin-top: 3px;
  }

  &_is-rich {
    #{$root}__item + #{$root}__item {
      margin-top: 10px;
    }
  }
}
