@import '/components/icon/icon.scss';

$menu-font-size: 14px !default;
$menu-horizontal-spacing: 20px !default;
$menu-vertical-spacing: 14px !default;
$menu-link-color: rgba(31, 32, 65, 0.75) !default;
$menu-link-hover-color: rgba(31, 32, 65, 0.75) !default;

.menu {
  $root: &;

  display: flex;
  flex-direction: column;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    display: flex;
    align-items: center;
    justify-content: left;

    &_has-submenu {
      position: relative;
    }

    & + & {
      margin-left: $menu-horizontal-spacing;
    }

    & > .icon {
      width: 13px;
      height: 13px;
      margin-left: 7px;
      margin-right: 7px;
    }

    &:hover > #{$root}__submenu {
      display: block;
      visibility: visible;
      opacity: 1;
    }
  }

  &__link {
    display: block;
    color: $menu-link-color;
    text-decoration: none;
    font-size: $menu-font-size;

    &:hover {
      color: $menu-link-hover-color;
      text-decoration: none;
      cursor: pointer;
    }

    &_is-active {
      color: $dark-750;
      font-weight: bold;
    }

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__submenu {
    display: none;
    position: absolute;
    z-index: 100;
    top: 100%;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
    visibility: hidden;
    opacity: 0;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    white-space: nowrap;

    &:hover {
      display: block;
      visibility: visible;
      opacity: 1;
    }

    & > #{$root}__item {
      padding: 5px 13px;
      margin-right: 0;
    }

    & > #{$root}__item:hover {
      text-decoration: underline;
    }

    #{$root}__item + #{$root}__item {
      margin-left: 0;
    }

    &_is-active {
      display: block;
      visibility: visible;
      opacity: 1;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -20px;
      width: 100%;
      height: 20px;
    }
  }

  &_is-vertical {
    flex-direction: column;
    align-items: flex-start;

    #{$root}__item + #{$root}__item {
      margin-left: 0;
      margin-top: $menu-vertical-spacing;
    }
  }

  &_is-wide {
    padding: 0 10px;

    #{$root}__item_has-submenu {
      margin-right: -16px;
    }

    #{$root}__item > .icon {
      margin-right: 10px;
      margin-left: 4px;
    }

    #{$root}__item + #{$root}__item {
      margin-left: 29px;
    }
  }

  &_is-off-canvas {
    .icon {
      display: none;
    }

    #{$root}__link {
      display: flex;
      font-size: 16px;
    }

    #{$root}__submenu {
      display: block;
      position: static;
      visibility: visible;
      opacity: 1;
      box-shadow: none;
      border-radius: 0;
      padding-left: 7px;
      padding-top: 7px;

      #{$root}__item + #{$root}__item {
        margin-top: 0;
      }
    }

    #{$root}__item_has-submenu {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
