//- Menu component
//- orientation   {'horizontal' | 'vertical'} Menu items orientation
//- mods          {array} Modifier classes
//- items         {array} Menu items
//--- name      {string} Menu item name
//--- href      {string} Menu item href
//--- isActive  {boolean} Is this currently selected menu item
//--- submenu   {array} Array of submenu items 
mixin menu(props = {})
  include /components/icon/icon.pug

  -
    props = Object.assign({
      orientation: 'horizontal',
      mods: [],
      items: []
    }, props)

    var mods = ['menu'].concat(props.mods)

    if (props.items.length === 0) throw new Error('Menu: no items provided. Nothing to show')

    if (props.orientation) mods.push(`menu_${props.orientation}`)

  ul(class= mods)
    each item in props.items
      - var itemMods = ['menu__item']
      - if (item.submenu) itemMods.push('menu__item_has-submenu')
      li(class= itemMods)
        - var linkMods = ['menu__link']
        - if (item.isActive) linkMods.push('menu__link_is-active')
        a(href= item.href, class= linkMods)= item.name
        if item.submenu
          - var submenuMods = ['menu__submenu']
          - if (item.isActive) submenuMods.push('menu__submenu_is-active')
          +icon({name: 'semi-arrow-down'})
          ul(class= submenuMods)
            each subItem in item.submenu
              li(class= 'menu__item')
                - var submenuLinkMods = ['menu__link']
                - if (subItem.isActive) submenuLinkMods.push('menu__link_is-active')
                a(href= subItem.href, class= submenuLinkMods)= subItem.name
