@import '/components/icon/icon.scss';

$menu-font-size: 14px !default;
$menu-link-color: rgba(31, 32, 65, 0.75) !default;
$menu-link-hover-color: rgba(31, 32, 65, 0.75) !default;

.menu {
  $root: &;

  display: flex;
  flex-direction: column;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    display: flex;
    align-items: center;
    justify-content: left;

    &_has-submenu {
      position: relative;
      position: relative;
      margin-right: 26px;

      &::after {
        content: url(/assets/icons/semi-arrow-down.svg);
        position: absolute;
        top: 50%;
        right: -19px;
        transform: translateY(-50%);
      }
    }

    & + & {
      margin-left: 20px;
    }

    & > .icon {
      width: 13px;
      height: 13px;
      margin-left: 7px;
      margin-right: 7px;
    }

    &_is-active > #{$root}__submenu {
      visibility: visible;
      opacity: 1;
    }

    &_is-fading > #{$root}__submenu {
      visibility: visible;
      opacity: 0;
    }
  }

  &__link {
    display: block;
    color: $menu-link-color;
    text-decoration: none;
    font-size: $menu-font-size;

    &:hover {
      color: $menu-link-hover-color;
      text-decoration: none;
      cursor: pointer;
    }

    &_is-active {
      color: $dark-750;
      font-weight: bold;
    }

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__submenu {
    display: block;
    position: absolute;
    z-index: 100;
    top: 100%;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
    visibility: hidden;
    opacity: 0;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    transition: opacity 350ms ease;

    & > #{$root}__item {
      padding: 5px 13px;
      margin-right: 0;
    }

    & > #{$root}__item:hover {
      text-decoration: underline;
    }

    #{$root}__item + #{$root}__item {
      margin-left: 0;
    }

    &_is-active {
      display: block;
      visibility: visible;
      opacity: 1;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -20px;
      width: 100%;
      height: 20px;
    }
  }

  &_is-vertical {
    flex-direction: column;
    align-items: flex-start;

    #{$root}__item + #{$root}__item {
      margin-left: 0;
      margin-top: 17px;
    }
  }

  &_is-wide {
    #{$root}__item + #{$root}__item {
      margin-left: 28px;
    }

    #{$root}__submenu #{$root}__item + #{$root}__item {
      margin-left: 0;
    }
  }

  &_is-off-canvas {
    .icon {
      display: none;
    }

    #{$root}__link {
      display: flex;
      font-size: 16px;
    }

    #{$root}__submenu {
      display: block;
      position: static;
      visibility: visible;
      opacity: 1;
      box-shadow: none;
      border-radius: 0;
      padding-left: 7px;
      padding-top: 7px;

      #{$root}__item + #{$root}__item {
        margin-top: 0;
      }
    }

    #{$root}__item_has-submenu {
      flex-direction: column;
      align-items: flex-start;

      &::after {
        display: none;
      }
    }
  }
}
