//- Menu 
//-
//- items         array ([]) - Menu items
//--- item {
//---   name      string ('') - Menu item name
//---   isActive  boolean (false) - Is this currently selected menu item
//---   submenu   array ([]) - Array of submenu items 
//--- }
//- isVertical    boolean (false) - If true - menu items are positioned vertically
//- level         number (0) - If greater then 0 - it is submenu
//- theme         setOf ('wide') - theme to be applied 
mixin menu({items = [], isVertical = false, level = 0, theme = []} = {})
  include /components/icon/icon.pug

  -
    const hasSubmenu = menuItem => Array.isArray(menuItem.submenu);

    const classList = ['menu'];

    const themes = [].concat(theme);

    if (level > 0)  classList.push('menu__submenu');
    if (isVertical) classList.push('menu_is-vertical');
    if (themes)     classList.push(themes.map(t => `menu_is-${t}`));
  
  ul(class = classList, 'data-menu' = level === 0 ? true : false)
    each item in items
      - const itemClassList = ['menu__item'];
      - const linkClassList = ['menu__link'];
      - if (hasSubmenu(item)) itemClassList.push('menu__item_has-submenu');
      - if (item.isActive) linkClassList.push('menu__link_is-active');

      li(class = itemClassList)
        a(class = linkClassList, href = dummyURL)= item.name
        if (hasSubmenu(item))
          +icon({name: 'semi-arrow-down'})
          +menu({items: item.submenu, isVertical, level: level + 1})
