$menu-font-size: 14px !default;
$menu-horizontal-spacing: 20px !default;
$menu-vertical-spacing: 14px !default;
$menu-link-color: rgba(31, 32, 65, 0.75) !default;
$menu-link-hover-color: rgba(31, 32, 65, 0.75) !default;

.menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

@import './__submenu/menu__submenu';
@import './__item/menu__item';
@import './__link/menu__link';
@import './_horizontal/menu_horizontal';
@import './_vertical/menu_vertical';
