//- Menu 
//-
//- orientation   oneOf ('horizontal' | 'vertical') - Menu items orientation
//- items         array ([]) - Menu items
//--- item {
//---   name      string ('') - Menu item name
//---   href      string ('') - Menu item href
//---   isActive  boolean (false) - Is this currently selected menu item
//---   submenu   array ([]) - Array of submenu items 
//--- }
mixin menu(props = {})
  include /components/icon/icon.pug

  -
    const hasSubmenu = menuItem => Array.isArray(menuItem.submenu);

    const { orientation, items, level } = Object.assign({
      orientation: 'horizontal', 
      items: [], 
      level: 0
    }, props);

    const classList = [];

    if (level > 0) {
      classList.push('menu__submenu');
    } else {
      classList.push('menu', `menu_is-${orientation}`);
    }
  
  ul(class = classList)
    each item in items
      - const itemClassList = ['menu__item'];
      - if (hasSubmenu(item)) itemClassList.push('menu__item_has-submenu');
      - if (item.isActive) itemClassList.push('menu__item_is-active');

      li(class = itemClassList)
        a.menu__link(href = item.href)= item.name
        if (hasSubmenu(item))
          +icon({name: 'semi-arrow-down'})
          +menu({orientation, items: item.submenu, level: level + 1})
