//- Form component
//- mods  {array} Modification classes
mixin form(params = {})
  -
    params = Object.assign({
      mods: []
    }, params)

    var classList = ['form'].concat(params.mods)

  form(class= classList)&attributes(attributes)
    block

