$input-height: 2.75rem !default;
$input-border: 1px solid rgba(0, 0, 0, 0.25) !default;
$input-border-hover: 1px solid rgba(0, 0, 0, 0.5) !default;
$input-border-radius: 0.25rem !default;
$input-font-size: 0.875rem !default;
$input-font-color: rgba(0, 0, 0, 0.75) !default;
$input-line-height: 1.5rem !default;
$input-padding: 0.5rem 0.9375rem !default;
$input-label-color: #000 !default;
$input-label-size: 0.75rem !default;

.form-field {
  display: flex;
  height: $input-height;
  width: 100%;
  border: $input-border;
  border-radius: $input-border-radius;
  font-size: $input-font-size;
  line-height: $input-line-height;
  color: $input-font-color;
  padding: $input-padding;

  &:hover,
  &:focus {
    border: $input-border-hover;
    outline: none;
  }

  &::placeholder {
    color: $dark-250;
  }

  &_invalid {
    background: lighten($red, 37%);
  }

  &_valid {
    background: lighten($green, 20%);
  }

  &__warning-msg {
    color: lighten($red, 10%);
    font-size: $font-size-sm;
  }
}
