//- Form field component
//- mods  {array} Modifier classes
mixin form-field(props = {})
  -
    props = Object.assign({
      mods: [],
    }, props)

    var classList = ['form-field'].concat(props.mods)

  input(class= classList)&attributes(attributes)
