extends /uikit/layout.pug

block variables
  - var pageTitle = 'Toxin UIKit | Headers & Footers'
  - var bodyClass = 'uikit__headers-and-footers'

block append parts
  include /components/header/header.pug
  include /components/menu/menu.pug
  include /components/footer/footer.pug
  include /components/footer-creative/footer-creative.pug
  include /components/footer-about/footer-about.pug
  include /components/footer-menu/footer-menu.pug
  include /components/footer-subscription/footer-subscription.pug
  include /components/copyright/copyright.pug

block append styles
  link(rel='stylesheet', href='./headers-and-footers.scss')

block main
  header.container.uikit__header
    +logo

  .m-t-32
    +header

  .m-t-40
    +header({ 
      auth: {
        isLoggedIn: true, 
      }
    })

  .m-t-40
    +footer
    +copyright

  .m-t-36
    +footer-creative({
      text: 'Copyright © 2018 Toxin отель. Все права зачищены.'
    })
