extends /uikit/_layout.pug

block append styles
  link(rel="stylesheet", href="./headers-and-footers.scss")

block variables
  - var pageTitle = 'Toxin UIKit | Headers & Footers'
  - var bodyClass = 'uikit__headers-and-footers'

  include /components/header/header.pug
  include /components/footer/footer.pug
  include /components/copyright/copyright.pug

block main
  header.container.uikit__header
    a(href= '/')
      img(src= '/assets/icons/png/logo.png', width= 48, height= 48)

  .headers-and-footers__row
    +header({ isLoggedIn: false })

  .headers-and-footers__row
    +header({ isLoggedIn: true })

  .headers-and-footers__row
    +footer
    +copyright

  .headers-and-footers__row
    //- TODO creative footer
