@import '/components/button/button.scss';
@import '/components/label/label.scss';
@import '/components/icon/icon.scss';
@import '/components/field/field.scss';
@import '/components/radio/radio.scss';
@import '/components/datepicker/datepicker.scss';
@import '/components/switcher/switcher.scss';

.form-register {
  width: 50vw;
  min-width: 280px;
  max-width: 380px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 40px 30px 30px 30px;
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  background: $white;

  @media (max-width: $break-sm) {
    opacity: 0.85;
  }

  &__title {
    word-spacing: 2px;
    letter-spacing: 1px;
  }

  &__name {
    margin-top: 20px;

    & > * + * {
      margin-top: 10px;
    }
  }

  &__gender {
    display: flex;
    margin-top: 10px;

    & > * {
      flex: 0;
    }

    & > * + * {
      margin-left: 20px;
    }
  }

  &__birthday {
    margin-top: 16px;
  }

  &__credentials {
    margin-top: 20px;
  }

  &__newsletter {
    margin-top: 10px;
  }

  &__password {
    margin-top: 10px;
  }

  &__submit {
    margin-top: 16px;
  }

  &__have-account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 29px;
    font-size: 14px;
    padding-left: 1px;

    .button {
      padding: 0 23px;
    }
  }
}
