.form-login {
  width: 380px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  padding: 40px 30px 30px;
  background: $white;

  &__email {
    margin-top: 21px;
  }

  &__password {
    margin-top: 10px;
  }

  &__submit {
    margin-top: 20px;
  }

  &__have-account {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;

    .button {
      padding: 0 16px;
    }
  }

  label {
    margin-bottom: 0;
    font-weight: bold;
  }
}
