//- type  {'' | 'creative'} Footer type
//- mods  {array} Modifier classes
mixin footer(props = {})
  include /components/library/menu/menu.pug
  include /components/project/social-icons/social-icons.pug
  include /components/library/form/form.pug
  include /components/library/form-field/form-field.pug
  include /components/library/icon/icon.pug

  - 
    props = Object.assign({
      type: '',
      mods: []
    }, props)

    var mods = ['footer'].concat(props.mods)

    if (props.type) mods.push(`footer_${props.type}`)

  footer(class= mods)
    if props.type === 'creative'
      .footer__content.footer__content_creative
        .footer__block.footer__block_creative
          include /assets/img/logo.svg
        .footer__block.footer__block_creative
          p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
        .footer__block.footer__block_creative
          +social-icons
    else
      .footer__content
        .widget.widget-about.footer__widget
          .widget-about__logo
            include /assets/img/logo.svg
          .widget-about__text
            | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .widget.widget-menu.footer__widget
          h3.widget__title навигация
          .widget-menu__menu
            +menu({orientation: 'vertical', items: getData('menuNavigation')})
        .widget.widget-menu.footer__widget
          h3.widget__title о нас
          +menu({orientation: 'vertical', items: getData('menuAboutUs')})
        .widget.widget-menu.footer__widget
          h3.widget__title Служба поддержки
          +menu({orientation: 'vertical', items: getData('menuSupport')})
        .widget.widget-subscription.footer__widget
          h3.widget__title Подписка
          .widget-subscription__text
            | Получайте специальные предложения и новости сервиса
          +form({mods: ['widget-subscription__form']})
            +form-field({mods: ['widget-subscription__email']})(type= 'email', placeholder= 'Email', required= true)
            +icon({name: 'arrow-right', mods: ['widget-subscription__icon']})