.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0 83px;

  &__wrapper {
    display: flex;
    max-width: 1160px;
  }

  &__widget {
    min-width: 160px;
    max-width: 300px;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }

    & > .widget__title {
      padding-top: 0.3rem;
    }
  }

  &_creative {
    .footer__wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .footer__widget {
      margin: 0 0 15px 0;
      max-width: 600px;
    }

    .social-icons {
      margin-top: 10px;
    }
  }
}
