.button-like {
  position: relative;
  min-width: 2.5rem;
  height: 1.25rem;
  border: 1px solid rgba(31, 32, 65, 0.25);
  padding: 0;
  background: none;
  font-size: 0.625rem;
  line-height: 0.75rem;
  opacity: 1;

  &:hover {
    opacity: 1;
  }

  .button__icon {
    position: absolute;
    top: 0.25rem;
    width: 0.625rem;
    height: 0.625rem;
    fill-opacity: 1;

    &_left {
      left: 0.25rem;
    }

    &_right {
      right: 0.25rem;
    }
  }

  &_has-voted {
    border: 1px solid transparent;
    background-image: linear-gradient(#fff, #fff), linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }

  &_icon-pos-left {
    padding-left: 12px;
  }

  &_icon-pos-right {
    padding-right: 12px;
  }
}
