//- ordered or unordered list
//-
//- items       array ([]) - Text strings to show
//- isOrdered   boolean (false) - If true - shows "ol". If false - shows "ul".
mixin list({items = [], isOrdered = false} = {})
  -
    const tag = isOrdered ? 'ol' : 'ul'

  #{tag}.list('data-list' = true)
    each item in items
      li.list__item= item
