//- ordered or unordered list
//-
//- items       array ([]) - Text strings to show
//- isOrdered   boolean (false) - If true - shows "ol". If false - shows "ul".
mixin list({items: [], isOrdered: false} = {})
  -
    const content = items.map(item => `<li class="list__item">${item}</li>`)

  if (props.isOrdered)
    ol.list !{content.join('')}
  else
    ul.list !{content.join('')}
