//- ordered or unordered list
//-
//- items       array ([]) - Text strings to show
//- isOrdered   boolean (false) - If true - shows "ol". If false - shows "ul".
mixin list({items = [], isOrdered} = {})
  -
    const classList = ['list']
    const tag = isOrdered ? 'ol' : 'ul'

    if (isOrdered) {
      classList.push('list_is-ordered')
    } else  {
      classList.push('list_is-unordered')
    }

  #{tag}(class = classList, data-list)
    each item in items
      li.list__item= item
