$list-color: #000 !default;
$list-bullet-color: #eee !default;

.list {
  $root: &;

  padding-left: 21px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  color: $list-color;
  list-style: none;

  &__item {
    position: relative;

    & + & {
      margin-top: 10px;
    }
  }

  &_is-unordered {
    #{$root}__item {
      &::before {
        content: '';
        position: absolute;
        top: 7px;
        left: -22px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $list-bullet-color;
      }
    }
  }

  &_is-ordered {
    counter-reset: custom-ordered-list;

    #{$root}__item {
      &::before {
        content: counter(custom-ordered-list) + '.';
        position: absolute;
        top: 0;
        left: -22px;
        width: 10px;
        height: 10px;
        counter-increment: custom-ordered-list;
      }
    }
  }
}
