$list-color: #000 !default;
$list-bullet-color: #eee !default;

.list {
  padding-left: 21px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  color: $list-color;

  &__item {
    position: relative;

    & + .list__item {
      margin-top: 10px;
    }
  }

  &_unordered {
    list-style: none;

    .list__item::before {
      content: '';
      position: absolute;
      top: 7px;
      left: -22px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $list-bullet-color;
    }
  }

  &_ordered {
    list-style: none;
    counter-reset: custom-ordered-list;

    .list__item::before {
      content: counter(custom-ordered-list) + '.';
      position: absolute;
      top: 0;
      left: -22px;
      width: 10px;
      height: 10px;
      counter-increment: custom-ordered-list;
    }
  }
}
