//- Room images showcase
//-
//- first     string ('') - main image url
//- second    string ('') - second image
//- third     string ('') - third image    
mixin room-showcase({first = '', second = '', third = ''} = {})
  .room-showcase(data-room-showcase)
    img.room-showcase__main(src = first)
    .room-showcase__thumbs
      img.room-showcase__thumb(src = second)
      img.room-showcase__thumb(src = third)