.room-showcase {
  display: flex;
  flex: 1;
  align-items: stretch;

  &__main {
    flex: 1;
  }

  &__thumbs {
    display: flex;
    flex-direction: column;
    flex-basis: 459px;

    @media (max-width: 980px) {
      display: none;
    }
  }

  &__thumb {
    flex: 1 1 50%;
  }
}
