//- Room images showcase
//-
//- first     string ('') - main image url
//- second    string ('') - second image
//- third     string ('') - third image    
mixin room-showcase({first = '', second = '', third = ''} = {})
  .room-showcase(data-room-showcase)
    .room-showcase__main(style=`background: url(${first});`)
    .room-showcase__thumbs
      .room-showcase__thumb(style=`background: url(${second});`)
      .room-showcase__thumb(style=`background: url(${third});`)