.button-like {
  position: relative;
  min-width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  padding: 0;
  background: none;
  font-size: 10px;
  line-height: 12px;
  opacity: 1;

  &:hover {
    opacity: 1;
  }

  .button__icon {
    position: absolute;
    top: 4px;
    width: 10px;
    height: 10px;
    fill-opacity: 1;

    &_left {
      left: 4px;
    }

    &_right {
      right: 4px;
    }
  }

  &_has-voted {
    border: 1px solid transparent;
    background-image: linear-gradient(#fff, #fff), linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }

  &_icon-pos-left {
    padding-left: 12px;
  }

  &_icon-pos-right {
    padding-right: 12px;
  }
}
