//- Like button
//-
//- value         number (0) - Number of likes
//- iLike         string ('hart-active') - Name of icon for "liked" state
//- iDislike      string ('hart') - Name of icon for "dislike" state
//- hasVoted      boolean (false) - True if has state "liked", false otherwise
mixin button-like({value: 0, iLike: 'hart-active', iDislike: 'hart', hasVoted: false} = {})
  include /components/icon/icon.pug

  -
    const icon = hasVoted ? iLike : iDislike
  
  .button-like(data-iLike)&attributes({
    'data-value': value, 
    'data-has-voted': hasVoted,
    'data-icon-like': iLike,
    'data-icon-dislike': iDislike,
  })
    +icon({name: icon})
    span.button-like__display= value