@import '/components/form/form.scss';
@import '/components/field/field.scss';

.subscription {
  &__form {
    position: relative;
  }

  &__input {
    &_icon_left {
      padding-left: 40px;
    }

    &_icon_right {
      padding-right: 40px;
    }
  }

  &__icon {
    position: absolute;
    top: 14px;
    width: 16px;
    height: 16px;
    margin: 0;

    &_left {
      left: 10px;
    }

    &_right {
      right: 13px;
    }
  }
}
