//- Subscription 
//-
//- url             string ('') - form action url
mixin subscription(props = {})
  include /components/form/form.pug
  include /components/field/field.pug

  - 
    const { url } = Object.assign({ url: '' }, props);

  .subscription
    +form(method = 'POST', action: url)
      +field({ icon: 'arrow-right' })(type = 'email', required, placeholder = 'email')