//- Subscription 
mixin subscription()
  include /components/form/form.pug
  include /components/field/field.pug

  .subscription
    +form(method = 'POST', action: dummyURL)
      +field({ icon: 'arrow-right' })(type = 'email', required, placeholder = 'email')