//- Subscription 
//-
mixin subscription
  include /components/form/form.pug
  include /components/field/field.pug

  .subscription('data-subscription' = true)
    +field({ icon: 'arrow-right' })(type = 'email', required, placeholder = 'email')