//- Subscription 
//-
//- url             string ('') - form action url
//- placeholder     string ('') - input placeholder text
//- icon            string ('') - icon name
mixin subscription({url: '', placeholder: '', icon: 'arrow-right'} = {})
  include /components/form/form.pug
  include /components/form-field/form-field.pug
  include /components/button/button.pug

  .subscription
    +form(method= 'POST', action: url)
      input(type= 'email', required, placeholder= placeholder)
      +button
        +icon({name: icon})