//- Counter 
//-
//- id          string ('') - will be passed in event to distinguish between different counters
//- value       number (0) - initial value
//- min         number (0) - minimum possible value
//- max         number (10) - maximum possible value
//- step        number (1) - step value
//- plurals     array ([]) - plural forms of label for [1, 2, 0] items (f.ex. ['спальни', 'спальня', 'спален'])
mixin counter({id = createRandomId(), value = 0, min = 0, max = 10, step = 1, plurals = []} = {})
  include /components/button/button.pug
  include /components/field/field.pug

  -
    const isDisabled = (btnType, val) => 
      btnType === 'dec'
      ? val <= min 
      : val >= max;

  .counter(
    'data-counter' = true,
    'data-id' = id,
    'data-step' = step,
    'data-min' = min,
    'data-max' = max,
    'data-plurals' = plurals
  )
    input.counter__input(hidden = true, type = 'number', value = value)
    div.counter__controls
      button(class = 'counter__button-dec', disabled = isDisabled('dec', value)) -
      span.counter__display= value
      button(class = 'counter__button-inc', disabled = isDisabled('inc', value)) +
