//- Counter 
//-
//- label     string ('') - label text
//- plurals   array ([]) - plural forms of label for [1, 2, 0] items (f.ex. ['спальни', 'спальня', 'спален'])
//- value     number (0) - initial value
//- min       number (0) - minimum possible value
//- max       number (10) - maximum possible value
//- step      number (1) - step value
mixin counter({} = {})
  include /components/button/button.pug
  include /components/form-field/form-field.pug

  .counter&attributes({
    'data-step': step,
    'data-min': min,
    'data-max': max,
    'data-label': label,
    'data-plurals': plurals,
  })
    label.counter__label= label
      input.counter__input&attributes({hidden: true, type: 'number', value: value})
    div.counter__controls
      button.counter__button-dec&attributes({disabled: value <= parseInt(min, 10)}) -
      span.counter__display= value
      button.counter__button-inc&attributes({disabled: value >= parseInt(max, 10)}) +
