$hero-text-color: black !default;
$hero-min-height: 683px;
$hero-max-height: 830px;

.hero {
  display: flex;
  position: relative;
  width: 100%;
  max-height: $hero-max-height;
  min-height: $hero-min-height;
  background-position: center -70px;
  background-repeat: no-repeat;

  &__content {
    min-width: 320px;
  }

  &__info {
    position: absolute;
    z-index: 30;
    right: 130px;
    bottom: 3px;
    width: 300px;
    height: 50px;
    color: $hero-text-color;
    font-size: 14px;
    line-height: 1.7;
    text-align: right;
  }
}
