//- Hero
//-
//- bgImg                 string ('') - Url to background image (will be used if sliderOptions is empty)
//- info                  string ('') - Some arbitrary text to show
//- contentHorizontalPos  string ('center') - position of inner content in horizontal axis
//- contentVerticalPos    string ('center') - position of inner content in vertical axis
mixin hero(props = {})
  -
    const { bgImg, info, contentHorizontalPos, contentVerticalPos } = Object.assign({ 
      bgImg: '', 
      info: '',
      contentHorizontalPos: 'center',
      contentVerticalPos: 'center' 
    }, props);

    const heroStyle = {
      'background-image': `url(${bgImg})`,
      'align-items': contentVerticalPos,
      'justify-content': contentHorizontalPos,
    }

  .hero(style = heroStyle)
    if (block)
      .hero__content
        block

    if (info)
      p.hero__info= info