$hero-text-color: black !default;

.hero {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  min-height: 700px;
  padding: 28px;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;

  @media (max-width: $break-sm) {
    min-height: 560px;
  }

  &__wrapper {
    display: flex;
    flex: 1;
    position: relative;
    max-width: $content-max-width + $wrapper-padding * 2;
    padding: 0 $wrapper-padding;
  }

  &__content {
    display: flex;
    justify-content: center;
  }

  &__info {
    position: absolute;
    z-index: 30;
    right: 14px;
    bottom: -70px;
    max-width: 300px;
    min-height: 50px;
    color: $hero-text-color;
    font-size: 14px;
    line-height: 1.7;
    text-align: right;
  }

  &_is-small {
    min-height: 460px;
    padding: 30px 60px;
  }

  &_is-big {
    min-height: 830px;
    padding: 70px 0;

    @media (max-width: $break-sm) {
      min-height: 600px;
    }
  }
}
