//- Hero
//-
//- bgImg   string ('') - Url to background image (will be used if sliderOptions is empty)
//- info    string ('') - Some arbitrary text to show
mixin hero({bgImg: '', info: ''}: {})
  .hero
    if (bgImg)
      .hero__image(style= `background-image: url(${bgImg})`)

    if (block)
      .hero__content
        block

    if (info)
      p.hero__info= info