$hero-text-color: black !default;

.hero {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 683px;
  padding: 40px 80px;
  background-position: center -70px;
  background-repeat: no-repeat;

  &__content {
    min-width: 320px;
  }

  &__info {
    position: absolute;
    z-index: 30;
    right: 134px;
    bottom: 1px;
    max-width: 300px;
    min-height: 50px;
    color: $hero-text-color;
    font-size: 14px;
    line-height: 1.7;
    text-align: right;
  }

  &_is-small {
    min-height: 460px;
    padding: 30px 60px;
  }

  &_is-big {
    min-height: 830px;
    padding: 70px 140px;
  }
}
