doctype html

block variables
  - var pageTitle = 'Toxin UIKit'
  - var bodyClass = 'uikit'

block parts
  include /components/favicon/favicon.pug
  include /components/logo/logo.pug

html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")

      +favicon

      title= pageTitle
    
    block styles
      link(rel='stylesheet', href='/uikit/styles.scss')

  body(class= bodyClass)
    div(style={visibility: 'hidden', position: 'absolute', 'z-index': -1})
      include /assets/sprites/icons-sprite.svg
    
    block main
      //- Content goes here ...
    
    block scripts
      //- scripts go here
