@import '/components/filter-price/filter-price.scss';
@import '/components/filter-choices/filter-choices.scss';

.form-room-filter {
  &__guests {
    margin-top: 20px;
  }

  &__price {
    margin-top: 30px;
  }

  &__permissions {
    margin-top: 17px;
  }

  &__accessability {
    margin-top: 13px;
  }

  &__facilities {
    margin-top: 22px;
  }

  &__additional-facilities {
    margin-top: 21px;
  }
}
