.form-room-filter {
  &__guests {
    margin-top: 18px;
  }

  &__price {
    margin-top: 28px;
  }

  &__permissions {
    margin-top: 18px;
  }

  &__accessability {
    margin-top: 13px;
  }

  &__facilities {
    margin-top: 19px;
  }

  &__additional-facilities {
    margin-top: 21px;
  }
}
