mixin form-room-filter
  include /components/filter-dates/filter-dates.pug
  include /components/filter-guests/filter-guests.pug
  include /components/filter-price/filter-price.pug
  include /components/filter-choices/filter-choices.pug
  include /components/filter-facilities/filter-facilities.pug

  .form-room-filter
    +form
      .form-room-filter__dates
        +filter-dates

      .form-room-filter__guests
        +filter-guests

      .form-room-filter__price
        +filter-price

      .form-room-filter__permissions 
        +panel({ title: 'Checkbox Buttons' })
          +filter-choices({
            choices: [{
              name: 'allow-smoke',
              label: 'Можно курить',
            }, {
              name: 'allow-pets',
              label: 'Можно с питомцами',
            }, {
              name: 'allow-guests',
              label: ['Можно пригласить гостей', '(до 10 человек)'],
            }]
          })

      .form-room-filter__accessability 
        +panel({ title: 'Доступность' })
          +filter-choices({
            choices: [{
              name: 'wide-hall',
              label: 'Широкий коридор',
              desc: 'Ширина коридоров в номере не менее 91 см.',
            }, {
              name: 'helper-for-impaired',
              label: 'Помошник для инвалидов',
              desc: 'На 1 этаже вас встретит специалист и проводит до номера',
            }],
            theme: 'bold',
          })

      .form-room-filter__facilities
        +filter-facilities

      .form-room-filter__additional-facilities
        +panel({ title: 'Дополнительные удобства', isCollapsible: true, isCollapsed: true })
          +filter-choices({
            choices: [{
              name: 'breakfast',
              label: 'Завтрак',
            }, {
              name: 'work-table',
              label: 'Письменный стол',
              isChecked: true,
            }, {
              name: 'chair-for-feeding',
              label: 'Стул для кормления',
              isChecked: true,
            }, {
              name: 'baby-bed',
              label: 'Кроватка',
            }, {
              name: 'tv',
              label: 'Телевизор'
            }, {
              name: 'shampoo',
              label: 'Шампунь'
            }, {
              name: 'tv',
              label: 'Телевизор'
            }, {
              name: 'shampoo',
              label: 'Шампунь'
            }]
          })
            