.form-room-filter {
  &__guests {
    margin-top: 19px;
  }

  &__price {
    margin-top: 30px;
  }

  &__permissions {
    margin-top: 18px;
  }

  &__accessability {
    margin-top: 8px;
  }

  &__facilities {
    margin-top: 11px;
  }

  &__additional-facilities {
    margin-top: 21px;
  }

  &__toggle {
    display: none;
    margin-bottom: 10px;
    font-size: 16px;
    color: $black;
    cursor: pointer;
  }
}
