.like {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  min-width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  padding: 0;
  background: none;
  font-size: 10px;
  line-height: 12px;
  opacity: 1;
  user-select: none;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  .icon {
    width: 10px;
    height: 10px;
    margin-right: 6px;
    margin-left: 4px;
    fill-opacity: 1;
  }

  &_has-voted {
    border: 1px solid transparent;
    background-image: linear-gradient(#fff, #fff), linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
}
