//- Like button
//-
//- value         number (0) - Number of likes
//- hasVoted      boolean (false) - True if has state "liked", false otherwise
mixin like({value = 0, hasVoted = false} = {})
  include /components/icon/icon.pug

  -
    const iLike = 'hart-active';
    const iDislike = 'hart';

    const icon = hasVoted ? iLike : iDislike
  
  .like(
    data-like,
    data-value = value, 
    data-has-voted = hasVoted,
    data-icon-like = iLike,
    data-icon-dislike = iDislike)
    +icon({ name: icon })(data-like-icon)
    span.like__display(data-like-display)= value