$range-slider-color: black !default;
$range-slider-border: 1px solid #d3d3d3 !default;
$range-slider-connect-bg: $secondary-gradient;
$range-slider-handle-bg: $secondary-gradient;

@import '/components/field/field.scss';
@import './vendor/range-slider';

.form-field-range-slider {
  &__info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 6px;
  }

  &__label {
    text-transform: uppercase;
    font-weight: bold;
    flex: 1;
  }

  &__display {
    color: $range-slider-color;
    flex: 1;
    text-align: right;
  }

  &__slider {
    margin-bottom: 10px;
  }

  &__desc {
    color: $range-slider-color;
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
  }
}
