//- Range Slider
//-
//- showValue   boolean (true) - If true - selected value will be shown to the user, false - otherwise
//- params      object ({}) - range slider options (https://refreshless.com/nouislider/slider-options/)
mixin range-slider({showValue = true, params = {}} = {})
  include /components/field/field.pug

  .range-slider('data-range-slider' = true)
    .range-slider__input
      +field(
        id = createRandomId('range-slider'),
        hidden = true,
        'data-params' = params,
        'data-show-value' = showValue,
      )&attributes(attributes)

    .range-slider__slider
