.menu__item {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-right: $menu-horizontal-spacing;

  & > .icon {
    width: 12px;
    height: 12px;
    margin-left: 7px;
  }

  &_has-submenu {
    position: relative;
  }

  &:hover > .menu__submenu {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  &:last-child {
    margin-right: 0;
  }
}
