//- Hamburger menu
//-
//- bars  number (3) - Number of bars
mixin hamburger(props = {})
  -
    const { bars } = Object.assign({ bars: 3 }, props);

  button.hamburger
    - let i = 0;
    while i < bars
      span
      - i += 1
