.hamburger {
  min-width: 35px;
  min-height: 30px;
  border: none;
  background: none;

  & > span {
    display: block;
    height: 4px;
    background: $black;
  }

  & > span + span {
    margin-top: 3px;
  }
}
