html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
  width: 100%;
  @include wrapper();

  &__wrapper {
    @include row();
  }
}

.row {
  @include row();
}

.col {
  @include col();
  flex: 1;

  &_full-width {
    @include size(12);
  }

  &_one-half {
    @include size(6);
  }
}
