// Color system
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #e5e5e5 !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #1f2041 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #bc9cff !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #6fcf97 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $purple !default;
$secondary: $green !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark-1000: $black !default;
$dark-750: rgba(31, 32, 65, 0.75);
$dark-500: rgba(31, 32, 65, 0.5);
$dark-250: rgba(31, 32, 65, 0.25);
$dark-100: rgba(31, 32, 65, 0.1);
$dark-050: rgba(31, 32, 65, 0.05);

// Dimensions
$site-max-width: 1440px;
$content-max-width: 1160px;

// Breakpoints
$break-md: 1190px;
$break-sm: 600px;

// Spacing
$wrapper-padding: 20px;

// Gradients
$primary-gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%) !default;
$secondary-gradient: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%) !default;

// Typography
$font-family-main: Montserrat, Arial, sans-serif !default;
$font-family-accent: Quicksand, OpenSans, Arial, sans-serif !default;
$font-family-monospace: Consolas, 'Courier New', monospace !default;

// Components

// Icon
$icon-width: 16px;
$icon-height: 16px;

// Button
$button-height: 44px;
$button-padding: 0 20px;
$button-border-width: 2px;
$button-border-radius: 22px;
$button-bg: $primary-gradient;
$button-font-size: 12px;
$button-text-color: $white;

// Menu
$menu-font-size: 14px;
$menu-horizontal-spacing: 20px;
$menu-vertical-spacing: 17px;
$menu-link-color: $dark-750;
$menu-link-hover-color: $dark-750;

// Field
$field-height: 44px;
$field-padding: 7px 14px;
$field-border: 1px solid $dark-250;
$field-border-hover: 1px solid $dark-500;
$field-border-radius: 4px;
$field-font-size: 14px;
$field-font-color: $dark-750;
$field-line-height: 24px;
$field-label-color: $black;
$field-label-size: 12px;

// Datepicker
$datepicker-width: 320px;
$datepicker-icon-color: $primary;
$datepicker-weekday-color: $primary;
$datepicker-day-width: 40px;
$datepicker-day-height: 40px;
$datepicker-day-color: $dark-500;
$datepicker-day-today-bg: $secondary-gradient;
$datepicker-day-today-border: none;
$datepicker-day-active-bg: $primary-gradient;
$datepicker-day-active-color: $white;
$datepicker-range-bg: linear-gradient(
  180deg,
  rgba(188, 156, 255, 0.25) 0%,
  rgba(139, 164, 249, 0.25) 100%
);
$datepicker-range-other-month-bg: $gray-400;

// Checkbox
$checkbox-width: 20px;
$checkbox-height: 20px;
$checkbox-color: $dark-500;
$checkbox-border: 1px solid $dark-250;
$checkbox-border-active: 1px solid $primary;
$checkbox-border-radius: 4px;
$checkbox-toggle-bg: $dark-250;
$checkbox-toggle-bg-active: url("data:image/svg+xml,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='12' rx='6' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='6' x2='6' y2='12' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");

// Radio
$radio-width: 20px;
$radio-height: 20px;
$radio-color: $dark-500;
$radio-border: 1px solid $dark-250;
$radio-border-active: 1px solid $primary;
$radio-border-radius: 10px !default;
$radio-bg-active: url("data:image/svg+xml,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='12' rx='6' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='6' x2='6' y2='12' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") !default;

// Pagination
$pagination-color: $dark-500;
$pagination-current-page-color: $white;
$pagination-item-width: 40px;
$pagination-item-height: 40px;
$pagination-arrow-bg: $secondary-gradient;

// List
$list-color: $dark-750;
$list-bullet-color: $dark-250;

// Dropdown Counter
$dc-border: 1px solid $dark-250;
$dc-border-radius: $field-border-radius;
$dc-btn-reset-color: $dark-500;
$dc-btn-ok-color: $primary;
$dc-body-bg: $white;

// Hero
$hero-text-color: $dark-750;

// Range Slider
$range-slider-color: $dark-500;
$range-slider-border: 1px solid $dark-250;
$range-slider-connect-bg: $secondary-gradient;
$range-slider-handle-bg: $secondary-gradient;

// Room Reservation
$room-reservation-primary-color: $primary;
$room-reservation-accent-color: $dark-500;
$room-reservation-text-color: $dark-750;
$room-reservation-title-color: $dark-1000;
$room-reservation-underline: 1px dotted $dark-250;
