@import 'all';

@import '../components/library';
@import '../components/project';

.row {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2rem;
}

.col {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;

  &-5 {
    flex-basis: 50%;
  }
}

.page {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wrapper {
    max-width: 1440px;
    min-width: 320px;
  }

  &__header {
    margin-bottom: 4.375rem;
  }

  &__main {
    display: flex;
  }

  &__sidebar {
    flex: 0 1 326px;
    margin-right: 3.75rem;
  }

  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
  }
}

.room-search {
  &__listing {
    display: flex;
    flex-flow: row wrap;
    margin-left: -0.75rem;
    margin-top: -0.75rem;

    .room-card {
      flex: 1 0 calc(25% - 0.75rem);
      margin-left: 0.75rem;
      margin-top: 0.75rem;
    }
  }

  &__pagination {
    text-align: center;
  }
}
