.panel {
  padding: 0.5rem 0;

  &__header {
    position: relative;
    cursor: pointer;
  }

  &__title {
    margin-right: 3rem;
  }

  &__body {
    display: block;
    height: auto;
    margin-top: 1.125rem;
    transition: height 350ms ease-in-out;

    * + * {
      margin-top: 0.2rem;
    }

    &_collapsed {
      display: none;
      height: 0;
      overflow: hidden;
    }
  }

  &__toggler {
    position: absolute;
    top: 0;
    right: 14px;
    transform: rotate(0.25turn);
    transition: transform 350ms ease-in-out;

    &_collapsed {
      transform: rotate(0.5turn);
    }
  }
}
