.panel {
  padding: 0.5rem 0;

  &__header {
    position: relative;
    cursor: pointer;
  }

  &__title {
    margin-right: 3rem;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: bold;
  }

  &__icon {
    width: 12px;
    height: 12px;
  }

  &__body {
    display: block;
    height: auto;
    margin-top: 14px;
    transition: height 350ms ease-in-out;

    &_collapsed {
      display: none;
      height: 0;
      overflow: hidden;
    }
  }

  &__toggler {
    position: absolute;
    top: 0;
    right: 17px;
    transform: rotate(0turn);
    transition: transform 350ms ease-in-out;

    &_collapsed {
      transform: rotate(0.5turn);
    }
  }
}
