.registration-page {
  &_hero {
    min-height: 700px;

    .hero__content {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .main {
    max-width: 1440px;
    padding: 0;
  }

  .main__wrapper {
    margin: 0;
  }
}
