extends /pages/layout.pug

block append meta
  meta(name= "keywords", content= "toxin-hotel, registration")
  meta(name= "description", content= "Toxin-hotel registration page")

block variables
  - var pageTitle = 'Toxin Registration'
  - var bodyClass = 'registration'

block append parts
  include /components/hero/hero.pug
  include /components/form-register/form-register.pug

block append styles
  link(rel="stylesheet", href="./registration.scss")

block append scripts
  script(src="./registration.js")

block main
  +hero({bgImg: '/assets/img/hero4.jpg'})
    +form-register