//- Main header
//- isLoggedIn  {boolean} If user is logged in
//- userName {string} User name to show in auth block
mixin header(params)
  include /components/library/menu/menu.pug
  include /components/library/button/button.pug

  - 
    params = deepmerge({
      isLoggedIn: false,
      userName: 'Cosmin Negoita'
    }, params)
    
    menuData = getData('menuMain')

  header.header
    include /assets/img/logo.svg
    +menu({items: menuData, mods: ['header__menu']})
    if params.isLoggedIn
      .header__auth.header__auth_is-logged-in
        a(class= 'header__profile-link', href= '#')= params.userName
    else 
      .header__auth
        +button({value: 'login', isOutlined: true, mods: ['header__button']})
        +button({value: 'register', mods: ['header__button']})
