.header {
  @include wrapper();
  margin-top: 15px;

  &__wrapper {
    @include row();
  }

  &__logo {
    @include col();
    margin-right: auto;
  }

  &__menu {
    display: flex;
    align-items: center;

    @include col();
    @include to(960px) {
      position: fixed;
      width: 250px;
      height: 100vh;
      margin: 0;
      padding: 20px;
      right: 0;
      top: 0;
      flex-direction: column;
      align-items: flex-start;
      transform: translateX(250px);
      transition: transform 250ms ease-in;
      background: $gray-200;
      z-index: 100;

      .menu {
        flex-direction: column;
        align-items: flex-start;
      }

      .menu > .menu__item {
        // align-items: flex-start;
        margin-bottom: 10px;
      }

      .menu__link {
        font-size: 15px;
      }

      .header__auth {
        margin: 0;
        margin-top: 20px;
        padding-left: 0;
        border-left: 0;
        flex-direction: column;
        align-items: flex-start;
      }

      .header__auth button {
        margin-bottom: 10px;
      }

      .header__menu-close {
        font-size: 40px;
        line-height: 40px;
        border: none;
        background: none;
        position: absolute;
        top: 10px;
        right: 10px;
        outline: none;
      }

      &_is-visible-on-mobile {
        transform: translateX(0);
      }
    }
  }

  &__menu-toggler {
    @include col();
    @include from(960px) {
      display: none;
    }
  }

  &__menu-close {
    @include from(960px) {
      display: none;
    }
  }

  &__auth {
    display: flex;
    margin-left: 26px;
    align-items: center;

    &_is-logged-in {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 35px;
      padding-left: 30px;
      border-left: 1px solid $dark-100;
      min-height: 1.875rem;
    }
  }

  &__button {
    margin-right: 18px;
    height: 34px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__profile-link {
    color: $dark-500;
    font-size: 14px;

    &:hover {
      color: $dark-750;
      text-decoration: none;
    }
  }
}
