//- Main header
//- isLoggedIn  {boolean} If user is logged in
//- userName    {string} User name to show in auth block
//- mods        {array} Modifier classes
mixin header(props)
  include /components/library/menu/menu.pug
  include /components/library/button/button.pug

  - 
    props = Object.assign({
      isLoggedIn: false,
      userName: 'Cosmin Negoita',
      mods: []
    }, props)
    
    var menuData = getData('menuMain')
    var mods = ['header'].concat(props.mods)

  header(class= mods)
    .header__wrapper
      include /assets/img/logo.svg
      +menu({items: menuData, mods: ['header__menu']})
      if props.isLoggedIn
        .header__auth.header__auth_is-logged-in
          a(class= 'header__profile-link', href= '#')= props.userName
      else 
        .header__auth
          +button({value: 'войти', isOutlined: true, mods: ['header__button']})
          +button({value: 'зарегистрироваться', mods: ['header__button']})
