//- Logo
//-
//- type    oneOf ('simple' | 'with-text') 
mixin logo({type = 'simple'} = {})
  a(href = '/', data-logo)
    if (type === 'simple')
      img(src='/assets/icons/png/logo.png', alt='logo', width=48, height=48)
    else
      img(src='/assets/icons/png/logo-with-text.png', alt='logo', width=106, height=40)