//- Range Slider
//-
//- label     {string} Label text
//- desc      {string} Description text
//- showValue {boolean} If true - selected value will be shown to the user, false - otherwise
//- params    {object} range slider options (https://refreshless.com/nouislider/slider-options/)
//--- params.format   {object} Formatting options (https://refreshless.com/wnumb/options/)
//- mods      {array} modifier classes
mixin form-field-range-slider(props = {})
  include /components/library/form-field/form-field.pug

  - 
    props = Object.assign({
      label: '',
      desc: '',
      showValue: true,
      params: {},
      mods: []
    }, props)

    var mods = ['form-field-range-slider'].concat(props.mods)

    if (attributes.id === undefined) {
      attributes.id = createRandomId('form-field-range-slider');
    }

    attributes['data-params'] = props.params
    attributes['data-show-value'] = props.showValue
    attributes['hidden'] = true

  div(class= mods)
    +form-field({mods: ['form-field-range-slider__input']})&attributes(attributes)

    if (props.label || props.showValue)
      .form-field-range-slider__info
        if (props.label)
          label.form-field-range-slider__label(for= attributes.id)= props.label
        if (props.showValue)
          span.form-field-range-slider__display

    div(class= 'form-field-range-slider__slider')

    if (props.desc)  
      span.form-field-range-slider__desc= props.desc
