mixin testimonial(props= {})
  include /components/library/button-like/button-like.pug

  -
    props = Object.assign({
      userImg: '',
      userName: '',
      createdAt: '',
      numLikes: 0,
      text: '',
      mods: []
    }, props)

    var mods = ['testimonial'].concat(props.mods)
    if (props.userName === '') throw new Error('Testimonial: user name is required')
    if (props.text === '') throw new Error('Testimonial: text is required')

  section(class= mods)&attributes(attributes)
    if (props.userImg)
      img(class= 'testimonial__user-img', src= props.userImg, title= props.userName)
    +button-like({value: props.numLikes, mods: ['testimonial__likes']})
    h3.testimonial__user-name= props.userName
    if (props.createdAt)
      span.testimonial__created-at= props.createdAt
    article.testimonial__text= props.text