.testimonial {
  display: grid;
  grid-template-columns: 4.375rem 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0.625rem;

  &__user-img {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  &__likes {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  &__user-name {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  &__created-at {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  &__text {
    grid-column: 2 / 3;
    grid-row: 1;
  }
}