.testimonial {
  display: flex;
  font-size: 0.875rem;
  line-height: 1.5rem;

  &__left-col {
    display: flex;
    flex: 0 1 50px;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__right-col {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    margin-left: 0.625rem;
  }

  &__user-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.1);
  }

  &__likes {
    margin-top: 0.625rem;
  }

  &__user-name {
    margin-bottom: 0.25rem;
    font-size: 14px;
  }

  &__created-at {
    font-size: 13px;
  }

  &__text {
    margin-top: 0.7rem;
  }
}
