$hero-text-color: black !default;

.hero {
  max-width: 1440px;
  height: 830px;
  margin: 0 auto;
  position: relative;

  &__image {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__slider {
    position: relative;
    z-index: 10;
  }

  &__content {
    position: absolute;
    top: 70px;
    left: 140px;
    z-index: 20;
  }

  &__info {
    position: absolute;
    right: 135px;
    bottom: 20px;
    width: 300px;
    height: 50px;
    color: $hero-text-color;
    z-index: 30;
  }
}