//- Hero
//-
//- images  {array} Array of image src strings
//- info    {string} Some arbitrary text to show
//- mods    {array} Modifier array
mixin hero(props = {})
  include /components/library/slider/slider.pug

  -
    props = Object.assign({
      images: [],
      info: '',
      mods: []
    }, props)

    var mods = ['hero'].concat(props.mods)
    var slides = props.images.map(img => ({img}))

  div(class= mods)&attributes(attributes)
    if (props.images.length > 1)
      +slider({ slides, mods: ['hero__slider'], showPagination: false, showNavigation: false })  
    else if (props.images.length === 1)
      .hero__image(style= `background-image: url(${props.images[0]})`)

    if (block)
      .hero__content
        block

    if (props.info)
      p.hero__info= props.info