$hero-text-color: black !default;

.hero {
  height: 830px;
  width: 100%;
  position: relative;

  &__image {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__slider {
    position: relative;
    z-index: 10;
  }

  &__content {
    position: absolute;
    top: 70px;
    left: 140px;
    z-index: 20;
  }

  &__info {
    position: absolute;
    right: 130px;
    bottom: 3px;
    width: 300px;
    height: 50px;
    color: $hero-text-color;
    font-size: 0.9rem;
    line-height: 1.7;
    text-align: right;
    z-index: 30;
  }
}
