//- Icon
//-
//- name    string ('hart') - Icon file name (without extension)
mixin icon(props = {})
  -
    const { name } = Object.assign({ name: 'hart' }, props);

  svg.icon
    use(href= `#${name}`)