//- Icon
//-
//- name    string ('hart') - Icon file name (without extension)
//- size    oneOf ('small' | 'big') 
mixin icon({name = 'hart', size = ''} = {})
  -
    const classList = ['icon'];

    if (size) classList.push(`icon_is-${size}`);

  svg(class = classList, data-icon)
    use(href= `#${name}`, data-icon-img)&attributes(attributes)