.icon {
  display: inline-block;
  width: 18px;
  height: 18px;

  &_is-small {
    width: 13px;
    height: 13px;
  }

  &_is-big {
    width: 22px;
    height: 22px;
  }

  &_is-auto {
    width: auto;
    height: auto;
  }
}
