.widget-subscription {
  &__text {
    margin-bottom: 21px;
  }

  &__form {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 13px;
    width: 16px;
    height: 16px;
  }

  input::placeholder {
    color: $dark-250;
  }
}
