.room-search {
  max-width: 23.75rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: $white;
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  padding: 2.5rem 1.875rem 1.875rem;

  &__title {
    font-size: 1.6rem;
  }

  &__dates {
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
  }

  &__arrival {
    flex: 1 1 50%;
    margin-right: 0.7rem;
  }

  &__departure {
    flex: 1 1 50%;
    margin-left: 0.5rem;
  }

  &__guests {
    margin-top: 1rem;
  }

  &__submit {
    margin-top: 1.875rem;
  }

  &__arrival-label,
  &__departure-label,
  &__guests-label {
    margin-bottom: 0;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}
