//- Subscription block
mixin subscription(props = {})
  include /components/library/form/form.pug
  include /components/library/form-field/form-field.pug
  include /components/library/icon/icon.pug

  -
    props = Object.assign({
      url: '',
      placeholder: '',
      iconName: 'arrow-right',
      iconPosition: 'right',
      mods: [],
    }, props)

    var mods = ['subscription'].concat(props.mods)
    var formMods = ['subscription__form']
    var inputMods = [`subscription__input`, `subscription__input_icon_${props.iconPosition}`]
    var iconMods = [`subscription__icon`, `subscription__icon_${props.iconPosition}`]

  div(class= mods)
    +form({mods: formMods})&attributes({method: 'POST', action: props.url})
      +form-field({mods: inputMods})&attributes({type: 'email', required: true, placeholder: props.placeholder})
      +icon({name: props.iconName, mods: iconMods})