//- Social icons block
//- icons     {array} Array of icon objects 
//--- name    {string} Icon name
//--- href    {string} Link to social account/page 
mixin social-icons(params = {})
  include /components/library/icon/icon.pug

  - 
    params = Object.assign({
      icons: [{
        name: 'twitter',
        href: '#'
      }, {
        name: 'facebook',
        href: '#'
      }, {
        name: 'instagram',
        href: '#'
      }]
    }, params)

    var classList = ['social-icons'] 

  div(class= classList)
    each icon in params.icons
      a(class= 'social-icons__link', href= icon.href)
        +icon({name: icon.name})

  