.footer-about {
  @media (max-width: $break-md) {
    flex: 0;
    margin: 0;
    text-align: center;
  }

  &__text {
    margin-top: 18px;
    padding-right: 20px;
    font-size: 13px;
    letter-spacing: 0.45px;
    word-spacing: -0.5px;
    line-height: 24px;
  }
}
