mixin footer-about({text = ''} = {})
  include /components/logo/logo.pug

  .footer__item.footer-about(data-footer-about)
    .footer-about__logo
      +logo({type: 'with-text'})
    .footer-about__text= text 