//- Checkbox
//- type    {string} Checkbox type (rich, normal)
//- label   {string} Label text
//- desc    {string} Description text
//- mods    {array} Modifier classess
mixin form-field-checkbox(props = {})
  include /components/form-field/form-field.pug

  -
    props = Object.assign({
      type: 'normal',
      label: '',
      desc: '',
      mods: []
    }, props)

    var mods = ['checkbox'].concat(props.mods)
    var inputMods = ['checkbox__input']

    if (props.type !== 'normal') {
      mods.push(`checkbox_${props.type}`)
    }

    if (attributes.id === undefined) {
      attributes.id = createRandomId('checkbox');
    }

    attributes.type = 'checkbox'

  div(class= mods)
    .checkbox__wrapper
      +form-field({mods: inputMods})&attributes(attributes)
      span.checkbox__custom
      if (props.label)
        label(class= 'checkbox__label', for= attributes.id)= props.label
    if (props.desc)
      .checkbox__desc= props.desc

