doctype html

block variables
  - var pageTitle = 'toxin'
  - var bodyClass = ''

block parts
  include /components/favicon/favicon.pug
  include /components/off-canvas/off-canvas.pug
  include /components/off-canvas-toggler/off-canvas-toggler.pug
  include /components/header/header.pug
  include /components/menu/menu.pug
  include /components/footer/footer.pug
  include /components/copyright/copyright.pug

html
  head
    block head
      block meta
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        +favicon

      title #{pageTitle || 'toxin'}

      block styles
        link(rel='stylesheet', href='/styles/app.scss')

  body(class= bodyClass)
    div(style={visibility: 'hidden', position: 'absolute', 'z-index': -1})
      include /assets/sprites/icons-sprite.svg

    +off-canvas({id: 'main-off-canvas-menu', showClose: true})
      +menu({
        isVertical: true,
        theme: 'off-canvas',
        items: [{
          name: "о нас",
          isActive: true
        },
        {
          name: "услуги",
          submenu: [{
              name: "апартаменты",
            }, {
              name: "spa",
            },
            {
              name: "конференц залы",
          }]
        },
        {
          name: "вакансии",
        },
        {
          name: "новости",
        },
        {
          name: "соглашения",
          submenu: [{
              name: "соглашение 1",
            },
            {
              name: "соглашение 2",
            },
            {
              name: "соглашение 3",
          }] 
        }]
      })
    
    block header
      +header({lblLogin: 'войти', lblRegister: 'зарегистрироваться'})

    main.main
      block main

    block footer
      div(class = `${bodyClass}__footer`)
        +footer
      div(class = `${bodyClass}__copyright`)
        +copyright
  
  block scripts
    script(src="/scripts/app.js")