extends /layout/base.pug

block prepend head
  - var pageTitle = 'Toxin Registration'

block append scripts
  include /components/library/hero/hero.pug
  include /components/project/register/register.pug

block content
  +hero({
    images: ['/assets/img/hero1.jpg', '/assets/img/hero2.jpg', '/assets/img/hero3.jpg'], 
    info: 'Лучшие номера для вашей работы, отдыха и просто вдохновения'
  })
    +register()