extends /layout/base.pug

block variables
  - var pageTitle = 'Toxin Registration'
  - var bodyClass = 'registration-page'

block append scripts
  include /components/library/hero/hero.pug
  include /components/project/register/register.pug

block content
  +hero({
    images: ['/assets/img/hero1.jpg', '/assets/img/hero2.jpg', '/assets/img/hero3.jpg'], 
    mods: ['registration-page_hero'],
  })
    +register()