extends /layout/base.pug

block prepend head
  - var pageTitle = 'Room Details'

block append scripts
  include /components/library/hero/hero.pug
  include /components/library/chart-doughnut/chart-doughnut.pug
  include /components/library/list/list.pug
  include /components/project/room-reservation/room-reservation.pug
  include /components/project/benefit/benefit.pug
  include /components/project/testimonial/testimonial.pug

block append header
  +hero({
    images: ['/assets/img/hero1.jpg', '/assets/img/hero2.jpg', '/assets/img/hero3.jpg'], 
  })

block content
  .page__main
    main.page__content
      .row
        .col
          h2 Сведения о номере
          +benefit({
            iconName: 'emoticon-happy', 
            title: 'Комфорт',
            desc: 'Шумопоглощающие стены',
          })
          +benefit({
            iconName: 'location-city', 
            title: 'Удобство',
            desc: 'Окно в каждой из спален',
          })
          +benefit({
            iconName: 'fire', 
            title: 'Уют',
            desc: 'Номер оснащен камином',
          })

        .col
          h2 Впечатления от номера
          +chart-doughnut({
            data: [{
              value: 556,
              label: 'Великолепно',
              bg: '#FFE39C'
            }, {
              value: 342,
              label: 'Хорошо',
              bg: '#6FCF97'
            }, {
              value: 227,
              label: 'Удовлетворительно',
              bg: '#BC9CFF'
            }, {
              value: 0,
              label: 'Разочарован',
              bg: '#919191'
            }]
          })
      
      .row
        .col
          h2 Отзывы посетителей номера
          +testimonial({
            userName: 'Мурад Сарафанов', 
            userImg: '/assets/img/testimonial-user.jpg',
            text: `Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. 
              И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.`,
            createdAt: `${Date.now() - 1000 * 60 * 60 * 24 * 5}`,
            numLikes: 12,
          })
          +testimonial({
            userName: 'Патрисия Стёклышкова', 
            userImg: '/assets/img/testimonial-user.jpg',
            text: `Обслуживание на высоте! Все аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое
              блюдо и десерт как комплимент`,
            createdAt: `${Date.now() - 1000 * 60 * 60 * 24 * 7}`,
            numLikes: 2,
          })

      .row
        .col.col-5
          h2 Правила
          +list({items: 
            [
              'Нельзя с питомцами', 
              'Без вечеринок и мероприятий', 
              'Время прибытия — после 13:00, а выезд до 12:00'
            ]
          })

        .col.col-5
          h2 Отмена
          p 
            | Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. 
            | до прибытия вы получите полный возврат за вычетом сбора за услуги.

    aside.page__sidebar
      +room-reservation({
        roomNumber: 888, 
        price: 9990,
        fees: [{
          title: 'Скидка',
          desc: 'Скидка постоянному клиенту',
          amount: -2179
        }, {
          title: 'Сбор за дополнительные услуги',
          desc: 'Боди массаж',
          amount: 300
        }]
      })