//- Dropdown datepicker component
//- id  {string} Id attribute for dom input element
mixin dropdown-date
  include /blocks/library/datepicker/datepicker.pug
  include /blocks/library/form-field-text/form-field-text.pug
  include /blocks/library/icon/icon.pug

  - if (!attributes.id) throw 'dropdown-date mixin: id attribute is required'

  .dropdown-date
    .dropdown-date__content
      +form-field-text({mods: ['form-field-dropdown']})&attributes(attributes)
      +icon({name: 'semi-arrow-down', mods: ['dropdown-date__icon']})
    .dropdown-date__footer.dropdown-date__footer_hidden
      +datepicker({inputId: attributes.id, mods: ['dropdown-date__datepicker']})