.register {
  width: 23.75rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  padding: 2.5rem 1.875rem 1.875rem;
  background: $white;

  &__name {
    margin-top: 20px;

    & > * + * {
      margin-top: 10px;
    }
  }

  &__gender {
    display: flex;

    & > * + * {
      margin-left: 18px;
    }
  }

  &__birthdate {
    margin-top: 20px;

    label {
      margin-bottom: 3px;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;

    }
  }

  &__credentials {
    margin-top: 16px;

    label {
      margin-bottom: 2px;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;

    }

    & > input + input {
      margin-top: 10px;
    }
  }

  &__newsletter {
    label {
      font-size: 14px;
      font-weight: normal;
      text-transform: none;
    }
  }

  &__submit {
    margin-top: 24px;
  }

  &__have-account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
    font-size: 14px;
  }
}
