.checkbox_theme-toggle {
  .checkbox__custom {
    position: relative;
    width: 48px;
    height: 21px;
    border-radius: 10px;
  }

  .checkbox__custom::before {
    content: '';
    position: absolute;
    top: 20%;
    left: 12%;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: $checkbox-toggle-bg;
    transition-property: all;
    transition-duration: 300ms;
  }

  .checkbox__input:checked ~ .checkbox__custom {
    background-image: none;
  }

  .checkbox__input:checked ~ .checkbox__custom::before {
    left: 63%;
    background: $checkbox-toggle-bg-active;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .checkbox__desc {
    margin: 5px 0 0 55px;
  }
}
