//- Form field
//-
//- icon    string ('') - icon to show inside
mixin field({icon = ''} = {})
  include /components/icon/icon.pug

  .field('data-field' = true)
    input.field__input&attributes(attributes)
    if icon
      .field__icon
        +icon({ name: icon })
