//- Form field
//-
//- icon    string ('') - icon to show inside
mixin field({icon = ''} = {})
  include /components/icon/icon.pug

  .field(data-field)
    input.field__input(type = 'text')&attributes(attributes)
    if icon
      .field__icon
        +icon({name: icon})
