.dropdown-date-filter {
  &__content {
    position: relative;
  }

  &__input {
    padding-right: 2.5rem;
  }

  &__icon {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
  }

  &__footer {
    position: relative;

    &_hidden {
      display: none;
    }
  }

  &__datepicker {
    position: absolute;
    z-index: 10;
  }
}

