mixin dropdown-date-filter(id)
  include /blocks/library/datepicker/datepicker.pug
  include /blocks/library/form-field-text/form-field-text.pug
  include /blocks/library/icon/icon.pug

  .dropdown-date-filter
    .dropdown-date-filter__content
      +form-field-text(id= id, class= 'dropdown-date-filter__input')
      +icon({name: 'semi-arrow-down', modifiers: ['dropdown-date-filter__icon']})
    .dropdown-date-filter__footer.dropdown-date-filter__footer_hidden
      +datepicker(id)(class= 'dropdown-date-footer__datepicker')