//- Date input component
//- useDatepicker {boolean} If true - datepicker will be used to select date(s)
//- isRangeMode   {boolean} If true - datepicker will select date range
//- dateFormat    {string} pattern for IMask 
//- mods          {array} Modifier classes
mixin form-field-datetime(props = {})
  include /components/library/form-field/form-field.pug
  include /components/library/icon/icon.pug

  -
    props = Object.assign({
      useDatepicker: false,
      isRangeMode: false,
      dateFormat: 'd.m.Y',
      mods: [],
    }, props)

    attributes = Object.assign({
      type: 'text', 
      'data-use-datepicker': props.useDatepicker,
      'data-is-range-mode': props.isRangeMode,
      'data-date-format': props.dateFormat,
      'data-input': true
    }, attributes)

    var mods = ['form-field-datetime'].concat(props.mods)
    var inputMods = ['form-field-datetime__input']
    var iconMods = ['form-field-datetime__icon']

  div(class= mods)
    +form-field({mods: inputMods})&attributes(attributes)
    if (props.useDatepicker)
      +icon({name: 'semi-arrow-down', mods: iconMods})('data-toggle'= true)