.header {
  max-width: $site-max-width;
  margin: 0 auto;
  box-shadow: 0 10px 20px $dark-050;
  background: $white;
  padding: 15px $wrapper-padding;

  &__wrapper {
    display: flex;
    max-width: $content-max-width;
    margin: 0 auto;
  }

  &__logo {
    margin-right: auto;
  }

  &__menu {
    display: flex;
    align-items: center;

    @media (max-width: $break-md) {
      display: none;
    }
  }

  &__menu-toggler {
    display: none;

    @media (max-width: $break-md) {
      display: block;
    }
  }

  &__auth {
    display: flex;
    margin-left: 20px;
    align-items: center;

    * + * {
      margin-left: 20px;
    }

    &_is-logged-in {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 21px;
      padding-left: 30px;
      border-left: 1px solid $dark-100;
      min-height: 30px;
    }
  }

  &__button {
    margin-right: 18px;
    height: 34px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__profile-link {
    color: $dark-500;
    font-size: 14px;

    &:hover {
      color: $dark-750;
      text-decoration: none;
    }
  }
}
