//- Main header
//-
//- isLoggedIn  {boolean} If user is logged in
//- userName    {string} User name to show in auth block
//- mods        {array} Modifier classes
mixin header(props)
  include /components/menu/menu.pug
  include /components/button/button.pug
  include /components/hamburger-menu/hamburger-menu.pug

  - 
    props = Object.assign({
      isLoggedIn: false,
      userName: 'Cosmin Negoita',
      mods: []
    }, props)
    
    var menuData = getData('menuMain')
    var mods = ['header'].concat(props.mods)

  header(class= mods)
    .header__wrapper
      .row
        .header__logo
          a(href= '/')
            include /assets/img/logo.svg

        .header__menu
          button.header__menu-close &times;

          +menu({items: menuData})

          if props.isLoggedIn
            .header__auth.header__auth_is-logged-in
              a(class= 'header__profile-link', href= dummyURL)= props.userName
          else 
            .header__auth
              +button({value: 'войти', isOutlined: true, mods: ['header__button']})
              +button({value: 'зарегистрироваться', mods: ['header__button']})

        +hamburger-menu({mods: ['header__menu-toggler']})