//- Main header
//-
//- menu    object ({}) - menu component props
//- auth    object ({}) - auth components props
-
  const defaultMenu = {
    items: [{
      name: "о нас",
    },
    {
      name: "услуги",
      submenu: [{
          name: "апартаменты",
        }, {
          name: "spa",
        },
        {
          name: "конференц залы",
      }]
    },
    {
      name: "вакансии",
    },
    {
      name: "новости",
    },
    {
      name: "соглашения",
      submenu: [{
          name: "соглашение 1",
        },
        {
          name: "соглашение 2",
        },
        {
          name: "соглашение 3",
        }] 
      }]
  };

  const defaultAuth = {
    userName: 'Юлий Цезарь',
    lblLogin: 'войти',
    lblRegister: 'зарегистрироваться',
    isLoggedIn: false
  };

mixin header({menu={}, auth={}} = {})
  include /components/logo/logo.pug
  include /components/menu/menu.pug
  include /components/auth/auth.pug
  include /components/off-canvas-toggler/off-canvas-toggler.pug

  -
    menu = Object.assign(defaultMenu, menu);
    auth = Object.assign(defaultAuth, auth);

  header.header(data-header)
    .header__wrapper
      .header__logo
        +logo({type: 'with-text'})

      .header__content
        .header__menu(data-header-menu)
          +menu(menu)

        .header__auth
          +auth(auth)

      .header__menu-toggler(data-header-menu-toggler)
        +off-canvas-toggler({connectedWith: 'main-off-canvas-menu'})