//- base components
include /components/icon/icon.pug
include /components/label/label.pug
include /components/form/form.pug
include /components/field/field.pug
include /components/datepicker/datepicker.pug
include /components/checkbox/checkbox.pug
include /components/switcher/switcher.pug
include /components/radio/radio.pug
include /components/range-slider/range-slider.pug
include /components/slider/slider.pug
include /components/button/button.pug
include /components/counter/counter.pug
include /components/like/like.pug
include /components/rating/rating.pug
include /components/pagination/pagination.pug
include /components/list/list.pug
include /components/panel/panel.pug
include /components/dropdown-counter/dropdown-counter.pug
include /components/doughnut/doughnut.pug
include /components/hero/hero.pug
include /components/hamburger/hamburger.pug

//- compound components
include /components/room-showcase/room-showcase.pug
include /components/header/header.pug
include /components/footer/footer.pug
include /components/copyright/copyright.pug
include /components/subscription/subscription.pug
include /components/testimonial/testimonial.pug
include /components/benefit/benefit.pug
include /components/room-search/room-search.pug
include /components/room-reservation/room-reservation.pug
include /components/register/register.pug
include /components/login/login.pug
include /components/room-card/room-card.pug
include /components/room-cards/room-cards.pug