//- base components
include /components/icon/icon.pug
include /components/form/form.pug
include /components/form-field/form-field.pug
include /components/form-field-datetime/form-field-datetime.pug
include /components/form-field-checkbox/form-field-checkbox.pug
include /components/form-field-radio/form-field-radio.pug
include /components/form-field-range-slider/form-field-range-slider.pug
include /components/button/button.pug
include /components/counter/counter.pug
include /components/button-like/button-like.pug
include /components/rating/rating.pug
include /components/pagination/pagination.pug
include /components/list/list.pug
include /components/panel/panel.pug
include /components/dropdown-counter/dropdown-counter.pug
include /components/chart-doughnut/chart-doughnut.pug
include /components/hero/hero.pug
include /components/hamburger-menu/hamburger-menu.pug

//- compound components
include /components/header/header.pug
include /components/footer/footer.pug
include /components/copyright-bar/copyright-bar.pug
include /components/subscription/subscription.pug
include /components/testimonial/testimonial.pug
include /components/benefit/benefit.pug
include /components/room-search/room-search.pug
include /components/room-reservation/room-reservation.pug
include /components/register/register.pug
include /components/login/login.pug
include /components/room-card/room-card.pug