//- Datepicker
//-
//- dates         array ([]) - selected dates to show. 
//-                            If mode is 'single' - take first one
//-                            If mode is 'range' - take first and second
//-                            If mode is 'multiple' - take all
//- mode          oneOf ('single' | 'range' | 'multiple') - Single - select only 1 date at a time. 
//-                                                         Range - select date range. 
//-                                                         Multiple - select multiple dates
//- isRequired    boolean (false) - If true - field will be validated as required
//- isInline      boolean (false) - If true - will display datepicker inline
mixin datepicker({dates = [], mode = 'single', isRequired, isOpened, isInline} = {})
  include /components/icon/icon.pug
  include /components/field/field.pug

  -
    const classList = ['datepicker'];

    if (isInline) classList.push('datepicker_is-opened');

  div(class = classList, data-datepicker)
    .datepicker__input
      +field(required = isRequired,
        placeholder = 'ДД.ММ.ГГГГ',
        data-datepicker-input,
        data-dates = dates, 
        data-mode = mode, 
        data-is-inline = isInline)&attributes(attributes)
    .datepicker__toggler(data-datepicker-toggler)
      +icon({ name: 'semi-arrow-up', size: 'small' })
    div(style = 'display: none')
      button.datepicker__prev(data-datepicker-prev)
        +icon({ name: 'arrow-left' })
      button.datepicker__next(data-datepicker-next)
        +icon({ name: 'arrow-right' })
      .datepicker__actions(data-datepicker-actions)
        button.datepicker__reset(data-datepicker-reset) Очистить
        button.datepicker__ok(data-datepicker-ok) Применить