mixin copyright-bar
  include /blocks/project/social-icons/social-icons.pug

  .copyright-bar
    .copyright-bar__block Copyright © 2018 Toxin UI Kit. All rights reserved.
    .copyright-bar__block
      +social-icons