extends /uikit/_layout.pug

block append styles
  link(rel="stylesheet", href="./cards.scss")

block variables
  - var pageTitle = 'Toxin UIKit | Cards'
  - var bodyClass = 'uikit__cards'

  include /components/index.pug

block main
  header.container.uikit__header
    +logo

  main.container
    .cards__row
      .cards__col.cards__col-1
        +form-room-search
        .m-t-23
          +form-register

      .cards__col.cards__col-2
        +form-room-reservation({room: 888, isLux: true, price: 9990})
        .m-t-39
          +form-login

      .cards__col.cards__col-3
        div(style = 'margin-top: -45px; visibility: hidden;')
          +datepicker({ isOpened: true })
        div(style = 'margin-top: 410px;')
          +room-card({
            room: 888,
            isLux: true,
            price: 9990,
            rating: 5, 
            numReviews: 145,
          })
            +slider({
              slides: [{
                img: '/assets/img/room-cards/room-card-1.png'
              }, {
                img: '/assets/img/room-cards/room-card-2.png',
              }, {
                img: '/assets/img/room-cards/room-card-3.png',
              }, {
                img: '/assets/img/room-cards/room-card-4.png'
              }],
              showPagination: true,
              params: {
                pagination: {
                  clickable: true
                }
              }
            })

          .m-t-40
            +room-card({
              room: 840,
              price: 9990,
              rating: 4, 
              numReviews: 65,
            })
              +slider({
                slides: [{
                  img: '/assets/img/room-cards/room-card-1.png'
                }, {
                  img: '/assets/img/room-cards/room-card-2.png',
                }, {
                  img: '/assets/img/room-cards/room-card-3.png',
                }, {
                  img: '/assets/img/room-cards/room-card-4.png'
                }],
                showPagination: true,
                params: {
                  pagination: {
                    clickable: true
                  }
                }
              })
