extends /uikit/_layout.pug

block append styles
  link(rel="stylesheet", href="./cards.scss")

block variables
  - var pageTitle = 'Toxin UIKit | Cards'
  - var bodyClass = 'uikit__cards'

  include /components/index.pug

block main
  header.container.uikit__header
    a(href= '/')
      img(src= '/assets/icons/png/logo.png', width= 48, height= 48)

  main.container
    .cards__col
      +room-search
      +register

    .cards__col
      +room-reservation({ room: 888, isLux: true, price: 9990 })
      +login

    .cards__col
      .TODO-datepicker
      +room-card({
        room: 888,
        isLux: true,
        price: 9990,
        rating: 5, 
        numReviews: 145,
      })
        +slider({
          slides: [{
            img: '/assets/img/room-card-1.jpg'
          }, {
            img: '/assets/img/room-card-2.jpg',
          }, {
            img: '/assets/img/room-card-3.jpg',
          }, {
            img: '/assets/img/room-card-4.jpg'
          }],
          showPagination: true,
          params: {
            pagination: {
              clickable: true
            }
          }
        })

      +room-card({
        room: 840,
        price: 9990,
        rating: 4, 
        numReviews: 65,
      })
        +slider({
          slides: [{
            img: '/assets/img/room-card-1.jpg'
          }, {
            img: '/assets/img/room-card-2.jpg',
          }, {
            img: '/assets/img/room-card-3.jpg',
          }, {
            img: '/assets/img/room-card-4.jpg'
          }],
          showPagination: true,
          params: {
            pagination: {
              clickable: true
            }
          }
        })
