//- Checkbox
//-
//- name        string ('') - name attribute for underlying input element
//- isChecked   boolean (false) - If true - checkbox is rendered as checked
mixin checkbox({name = '', isChecked = false} = {})
  .checkbox(data-checkbox)
    label
      input(class = 'checkbox__input', type = 'checkbox', name = name, checked = isChecked)
      span.checkbox__custom

