//- Datepicker component
//- @param {string} id Id of input element to which datepicker should be bounded
mixin datepicker(id)
  .datepicker(data-input-id= id)&attributes(attributes)
    .datepicker__content
    .datepicker__actions
      button.datepicker__btn.datepicker__btn-reset Очистить
      button.datepicker__btn.datepicker__btn-ok Применить