//- Datepicker component
//- inputId   {string} Id of the dom input element to which datepicker should be bounded
//- mods      {string} Modifier classes
mixin datepicker(params = {})
  include /blocks/library/button/button.pug

  -
    params = deepmerge({
      inputId: '',
      mods: [],
    }, params)

    var classList = ['datepicker'].concat(params.mods)

  div(class= classList, data-input-id= params.inputId)&attributes(attributes)
    .datepicker__content
    .datepicker__actions
      +button({isText: true, mods: ['datepicker__button', 'datepicker__button-reset'], value: 'Очистить'}) 
      +button({isText: true, mods: ['datepicker__button', 'datepicker__button-ok'], value: 'Применить'}) 