//--- Override pikaday variables

// Colors
$pd-text-color: $datepicker-text-color;
$pd-title-color: $datepicker-title-color;
$pd-title-bg: $datepicker-title-bg;
$pd-picker-bg: $datepicker-picker-bg;
$pd-th-color: $datepicker-th-color;
$pd-day-color: $datepicker-day-color;
$pd-day-bg: $datepicker-day-bg;
$pd-day-hover-color: $datepicker-day-hover-color;
$pd-day-hover-bg: $datepicker-day-hover-bg;
$pd-day-today-color: $datepicker-day-today-color;
$pd-day-selected-color: $datepicker-day-selected-color;
$pd-day-selected-bg: $datepicker-day-selected-bg;
$pd-day-selected-shadow: $datepicker-day-selected-shadow;
$pd-day-disabled-color: $datepicker-day-disabled-color;

// Font
$pd-font-family: $datepicker-font-family;

@import 'pikaday/scss/pikaday.scss';

.datepicker {
  display: inline-flex;
  flex-flow: column wrap;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 0.25rem;
  background: $datepicker-picker-bg;

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
  }

  &__btn {
    border: none;
    background: $datepicker-picker-bg;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;

    &:focus, &:active {
      outline: none;
    }
  }

  &__btn-reset {
    color: $dark-500;
  }

  &__btn-ok {
    color: $primary;
  }

  .pika-single {
    border: 0;
    background: transparent;
  }

  .pika-lendar {
    float: none;
    width: auto;
    margin: 0;
    padding: 1rem;
  }

  .pika-label {
    text-transform: capitalize;
  }

  .pika-table {
    th,
    td {
      width: 2.5rem;
      height: 2.5rem;
    }

    th > abbr {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: capitalize;
      text-decoration: none;
      font-family: $font-family-bold;
      cursor: default;
    }
  }

  .pika-row {
    .pika-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      width: 2.5rem;
      height: 2.5rem;
      background-color: $datepicker-day-bg;

      &:hover {
        border-radius: 50%;
        color: $datepicker-day-hover-color;
        font-weight: bold;
      }
    }

    .is-today .pika-button {
      background: $secondary-gradient;
      border-radius: 50%;
    }

    .is-selected .pika-button {
      border-radius: 50%;
    }

    .is-outside-current-month {
      color: $dark-250;

      .pika-button {
        opacity: .5;
      }
    }
  }

  .pika-prev,
  .pika-next {
    text-indent: 0;
    background-image: none;
    width: 1.5rem;
    height: 1.5rem;
    overflow: visible;
    opacity: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .icon {
      position: absolute;
      z-index: -1; // prevent icon from intercepting click events
    }
  }
}
