mixin copyright-bar
  include /components/project/social-icons/social-icons.pug

  .copyright-bar
    .copyright-bar__wrapper
      .copyright-bar__text Copyright © 2018 Toxin отель. Все права зачищены.
      .copyright-bar__icons
        +social-icons