.register {
  width: 380px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  padding: 40px 29px 30px 30px;
  background: $white;
  transform: translateY(16px);

  &__title {
    word-spacing: 2px;
    letter-spacing: 1px;
  }

  &__name {
    margin-top: 20px;

    & > * + * {
      margin-top: 10px;
    }
  }

  &__gender {
    display: flex;
    margin-top: 12px;

    & > * {
      flex: 0;
    }

    & > * + * {
      margin-left: 20px;
    }
  }

  &__birthday {
    margin-top: 14px;
  }

  &__credentials {
    margin-top: 18px;
  }

  &__newsletter {
    margin-top: 10px;
  }

  &__password {
    margin-top: 10px;
  }

  &__submit {
    margin-top: 16px;
  }

  &__have-account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 14px;
    padding-left: 1px;

    .button {
      padding: 0 23px;
    }
  }
}
