$button-height: 2.75rem;
$button-padding: 0 1.25rem;
$button-border-width: 0.1rem;
$button-border-radius: 1.375rem;
$button-font-size: 0.75rem;
$button-text-color: $white;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: $button-height;
  padding: $button-padding;
  overflow: hidden;
  vertical-align: middle;
  color: $button-text-color;
  background: $primary-gradient;
  border-style: none;
  outline: none;
  font-size: $button-font-size;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &__icon {
    position: absolute;
    width: 1.1rem;
    height: 1.1rem;
    fill: $button-text-color;

    &_right {
      right: 0.8rem;
    }

    &_left {
      left: 0.625rem;
    }
  }

  &_is-rounded {
    border-radius: $button-border-radius;
  }

  &_is-outlined {
    border: $button-border-width solid transparent;
    padding: 0 1.15rem;
    color: $primary;
    background-image: linear-gradient($button-text-color, $button-text-color), $primary-gradient;
    background-origin: border-box;
    background-clip: padding-box, border-box;

    &:hover {
      color: $primary;
      opacity: 0.5;
    }

    .button__icon {
      top: 0.45rem;
      fill: url(#paint0_linear);
    }
  }

  &_is-text {
    border: none;
    background: none;
    color: $primary;

    &:hover {
      color: rgba(31, 32, 65, 0.5);
    }
  }

  &_is-disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      color: $button-text-color;
      text-decoration: none;
    }
  }

  &_is-expanded {
    width: 100%;
  }

  &_has-icon {
    padding: 0 3rem;
  }

  &_ripple-effect {
    position: absolute;
    z-index: 1;
    width: 1px;
    height: 1px;
    animation: ripple 1s;
    border-radius: 50%;
    background: $white;
  }

  &:hover,
  &:active {
    opacity: 0.5;
    color: $button-text-color;
    text-decoration: none;
    outline: none;
  }
}

@keyframes ripple {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(100);
    opacity: 0;
  }
}
