@import '/components/footer-about/footer-about.scss';
@import '/components/footer-menu/footer-menu.scss';
@import '/components/footer-subscription/footer-subscription.scss';
@import '/components/menu/menu.scss';

.footer {
  display: flex;
  align-items: center;
  max-width: $site-max-width;
  min-height: 372px;
  margin: 0 auto;
  background: $white;
  padding: $wrapper-padding;

  @media (max-width: $break-md) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__wrapper {
    display: flex;
    max-width: $content-max-width;
    margin: 0 auto;

    @media (max-width: $break-md) {
      flex-direction: column;
      align-items: center;
      max-width: 600px;
    }
  }

  &__item {
    flex: 1 0 180px;

    @media (max-width: $break-md) {
      flex: 0;
    }

    &:first-child {
      flex: 2 0 280px;

      @media (max-width: $break-md) {
        flex: 0;
      }
    }

    &:last-child {
      flex: 2 0 300px;
      padding-right: 40px;

      @media (max-width: $break-md) {
        flex: 0;
        padding-right: 0;
      }
    }

    & + & {
      margin-left: 20px;
      padding-top: 6px;

      @media (max-width: $break-md) {
        margin-left: 0;
        margin-top: 50px;
        padding-top: 0;
      }
    }
  }
}
