mixin footer
  include /components/footer-about/footer-about.pug
  include /components/footer-menu/footer-menu.pug
  include /components/footer-subscription/footer-subscription.pug
  include /components/menu/menu.pug

  footer.footer('data-footer' = true)
    .footer__wrapper
      if block
        block
      else
        +footer-about({text: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»'})
        +footer-menu({title: 'навигация'})
          +menu({
            isVertical: true,
            items: [{
                "name": "О нас",
                "href": dummyURL,
                "isActive": false
              },
              {
                "name": "Новости",
                "href": dummyURL,
                "isActive": false
              },
              {
                "name": "Служба поддержки",
                "href": dummyURL,
                "isActive": false
              },
              {
                "name": "Услуги",
                "href": dummyURL,
                "isActive": false
            }],
          })
        +footer-menu({title: 'о нас'})
          +menu({
            isVertical: true,
            items: [{
                "name": "О сервисе",
                "href": dummyURL,
                "isActive": false
              },
              {
                "name": "Наша команда",
                "href": dummyURL,
                "isActive": false
              },
              {
                "name": "Вакансии",
                "href": dummyURL,
                "isActive": false
              },
              {
                "name": "Инвесторы",
                "href": dummyURL,
                "isActive": false
            }],
          })
        +footer-menu({title: 'служба поддержки'})
          +menu({
            isVertical: true,
            items: [{
                "name": "Соглашения",
                "href": dummyURL,
                "isActive": false
              },
              {
                "name": "Сообщества",
                "href": dummyURL,
                "isActive": false
              },
              {
                "name": "Связь с нами",
                "href": dummyURL,
                "isActive": false
            }],
          })
        +footer-subscription
