mixin footer
  include /components/footer-about/footer-about.pug
  include /components/footer-menu/footer-menu.pug
  include /components/footer-subscription/footer-subscription.pug
  include /components/menu/menu.pug

  footer.footer(data-footer)
    .footer__wrapper
      if block
        block
      else
        .footer__item
          +footer-about({text: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»'})

        .footer__item
          +footer-menu({title: 'навигация'})
            +menu({
              isVertical: true,
              items: [{
                  name: "О нас",
                },
                {
                  name: "Новости",
                },
                {
                  name: "Служба поддержки",
                },
                {
                  name: "Услуги",
              }],
            })

        .footer__item
          +footer-menu({title: 'о нас'})
            +menu({
              isVertical: true,
              items: [{
                  name: "О сервисе",
                },
                {
                  name: "Наша команда",
                },
                {
                  name: "Вакансии",
                },
                {
                  name: "Инвесторы",
              }],
            })

        .footer__item
          +footer-menu({title: 'служба поддержки'})
            +menu({
              isVertical: true,
              items: [{
                  name: "Соглашения",
                },
                {
                  name: "Сообщества",
                },
                {
                  name: "Связь с нами",
              }],
            })

        .footer__item
          +footer-subscription
