extends /layout/base.pug

block append meta
  meta(name= "keywords", content= "toxin-hotel, search")
  meta(name= "description", content= "Toxin-hotel search page")

block variables
  - var pageTitle = 'Room Search & Filter'
  - var bodyClass = 'room-search'

block append parts
  include /components/label/label.pug
  include /components/form/form.pug
  include /components/datepicker/datepicker.pug
  include /components/counter/counter.pug
  include /components/dropdown-counter/dropdown-counter.pug
  include /components/range-slider/range-slider.pug
  include /components/checkbox/checkbox.pug
  include /components/panel/panel.pug
  include /components/pagination/pagination.pug
  include /components/room-card/room-card.pug
  include /components/room-cards/room-cards.pug

block main
  .bounded-width
    aside.sidebar
      .room-filter.js-room-filter
        +form
          .room-filter__dates
            +label({ value: 'Даты пребывания в отеле', pos: 'top', theme: ['bold', 'upper'] }) 
              +datepicker({ mode: 'range' })(placeholder='ДД М - ДД М')

          .room-filter__guests
            +label({ value: 'Гости', pos: 'top', theme: ['bold', 'upper'] }) 
              +dropdown-counter({ resultType: 'total', plurals: ['гость', 'гостя', 'гостей'] })(placeholder= 'Сколько гостей')
                +label({ value: 'взрослые' })
                  +counter({ plurals: ['взрослый', 'взрослых', 'взрослых'] })

                +label({ value: 'дети' })
                  +counter({ plurals: ['ребенок', 'детей', 'детей'] })

                +label({ value: 'младенцы' })
                  +counter({ plurals: ['младенец', 'младенца', 'младенцев'] })

          .room-filter__price
            .room-filter__price-header
              .room-filter__price-label
                +label({ value: 'Диапазон цены', pos: 'left', theme: ['bold', 'upper'] })
              .room-filter__price-result 5 000₽ - 10 000₽
            .room-filter__price-range
              +range-slider({
                params: {
                  start: [5000, 10000],
                  range: {min: 200, max: 15500},
                  connect: [false, true, false],
                  format: {
                    decimals: 0,
                    thousand: ' ',
                    suffix: '₽'
                  }
                }
              })
            .room-filter__price-desc Стоимость за сутки пребывания в номере

          .room-filter__permissions 
            +panel({ title: 'Checkbox Buttons' })
              .room-filter__permissions-item
                +label({ value: 'Можно курить' })
                  +checkbox({ name: 'allow-smoke' })
              .room-filter__permissions-item
                +label({ value: 'Можно с питомцами' })
                  +checkbox({ name: 'allow-pets'})
              .room-filter__permissions-item
                +label({ value: ['Можно пригласить гостей', '(до 10 человек)'] })
                  +checkbox({ name: 'allow-guests' })

          .room-filter__accessability 
            +panel({ title: 'Доступность' })
              .room-filter__accessability-item
                +label({ value: 'Широкий коридор', desc: 'Ширина коридоров в номере не менее 91 см.', theme: 'bold' })
                  +checkbox({ name: 'wide-hall' })
              .room-filter__accessability-item
                +label({ 
                  value: 'Помошник для инвалидов', 
                  desc: 'На 1 этаже вас встретит специалист и проводит до номера', 
                  theme: 'bold' 
                })
                  +checkbox({ name: 'helper-for-impaired' })

          .room-filter__facilities
            +label({ value: 'Удобства номера', pos: 'top', theme: ['bold', 'upper'] }) 
              +dropdown-counter({ resultType: 'concat' })(placeholder = 'Выберите нужное количество ...')
                +label({ value: 'спальни' })
                  +counter({ plurals: ['спальня', 'спальни', 'спален'] })
                
                +label({ value: 'кровати' })
                  +counter({ plurals: ['кровать', 'кровати', 'кроватей'] })
                    
                +label({ value: 'ванные комнаты' })
                  +counter({ plurals: ['ванная комната', 'ванные комнаты', 'ванных комнат'] })

          .room-filter__additional-facilities
            +panel({ title: 'Дополнительные удобства', isCollapsible: true, isCollapsed: true })
              +label({ value: 'Завтрак' })
                +checkbox({ name: 'breakfast' })
              +label({ value: 'Письменный стол' })
                +checkbox({ name: 'work-table', isChecked: true })
              +label({ value: 'Стул для кормления' })
                +checkbox({ name: 'chair-for-feeding', isChecked: true })
              +label({ value: 'Кроватка' })
                +checkbox({ name: 'baby-bed' })
              +label({ value: 'Телевизор' })
                +checkbox({ name: 'tv' })
              +label({ value: 'Шампунь' })
                +checkbox({ name: 'shampoo' })
              +label({ value: 'Телевизор' })
                +checkbox({ name: 'tv'})
              +label({ value: 'Шампунь' })
                +checkbox({ name: 'shampoo' })

    article.content
      a.room-filter__toggle.js-room-filter__toggle Изменить параметры поиска
      h2.content__header Номера, которые мы для вас подобрали

      .room-search__cards
        +room-cards

      .room-search__pagination
        +pagination({total: 170, perPage: 12, current: 1})
        p.room-search__pagination-label 1 – 12 из 100+ вариантов аренды
