@import '/components/label/label.scss';
@import '/components/off-canvas/off-canvas.scss';
@import '/components/datepicker/datepicker.scss';
@import '/components/counter/counter.scss';
@import '/components/dropdown-counter/dropdown-counter.scss';
@import '/components/range-slider/range-slider.scss';
@import '/components/checkbox/checkbox.scss';
@import '/components/panel/panel.scss';
@import '/components/pagination/pagination.scss';
@import '/components/room-card/room-card.scss';
@import '/components/room-cards/room-cards.scss';
@import '/components/form-room-filter/form-room-filter.scss';

.room-search {
  &__wrapper {
    position: relative;
    padding-top: 28px;
    padding-bottom: 57px;
  }

  &__sidebar {
    min-width: 266px;
    margin-right: 59px;

    &_for-mobile {
      display: none;
      margin-right: 0;
      margin-left: 59px;

      @media (max-width: $break-md) {
        display: block;
      }
    }
  }

  &__content {
    padding-top: 3px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 21px;

    @media (max-width: $break-sm) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__filter-toggler {
    display: none;

    @media (max-width: $break-md) {
      display: inline-block;
    }

    @media (max-width: $break-sm) {
      margin-top: 20px;
    }
  }

  &__filter-apply {
    margin-top: 20px;
  }

  &__pagination {
    margin-top: 10px;
    padding-right: 13px;
  }

  &__footer {
    background: $white;
    max-width: $site-max-width;
    margin: 0 auto;
    padding-top: 7px;
    border-top: 1px solid $dark-250;
  }

  &__copyright {
    background: $white;
    max-width: $site-max-width;
    margin: 0 auto;
    padding-top: 7px;
  }
}
