.room-search-page {
  .main {
    margin-bottom: 70px;
    transition: transform 250ms ease-in;
  }

  .sidebar {
    padding-top: 30px;

    &_visible-on-mobile {
      transform: translate(0);
    }
  }

  .room-filter {
    &__label {
      margin-bottom: 9px;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;

      & > * {
        margin-top: 2px;
      }
    }

    &__price {
      margin-top: 20px;
    }

    &__permissions {
      margin-top: 23px;

      .room-filter__label {
        margin-bottom: 14px;
      }
    }

    &__accessability {
      margin-top: 34px;

      .room-filter__label {
        margin-bottom: 14px;
      }
    }

    &__facilities {
      margin-top: 30px;
    }

    &__additional-facilities {
      margin-top: 6px;
    }

    &__toggle {
      display: none;
      margin-bottom: 10px;
      font-size: 16px;
      color: $black;
      cursor: pointer;
    }
  }

  .content {
    padding: 30px 0 0 28px;

    &__header {
      margin-bottom: 23px;
    }
  }

  .pagination {
    margin-top: 10px;
    align-items: center;
    text-align: center;
  }

  .room-cards {
    .room-card {
    }
  }
}

.sidebar-visible-on-mobile {
  .main {
    transform: translate(270px);
  }
}
