.room-search-page {
  .main__wrapper {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 23px;
  }

  .page__sidebar {
    min-width: 16.6rem;
    margin-right: 3.8rem;
  }

  .page__content {
    padding-top: 0.5rem;

    & > .page__header {
      margin-bottom: 1.3rem;
    }
  }

  .pagination {
    align-items: center;
    text-align: center;
  }

  &__filter {
    label {
      flex: 1;
      margin-bottom: 5px;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &__listing {
    display: flex;
    flex-flow: row wrap;
    margin-right: -0.75rem;
    margin-bottom: 1.5rem;

    .room-card {
      flex: 1 0 calc(25% - 0.75rem);
      margin-right: 0.75rem;
      margin-bottom: 1.2rem;
    }
  }
}
