.room-search-page {
  .sidebar {
    padding-top: 30px;

    @include col();
    @include size(3);
  }

  .room-filter {
    &__label {
      margin-bottom: 9px;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;

      & > * {
        margin-top: 2px;
      }
    }

    &__price {
      margin-top: 20px;
    }

    &__permissions {
      margin-top: 23px;

      .room-filter__label {
        margin-bottom: 14px;
      }
    }

    &__accessability {
      margin-top: 34px;

      .room-filter__label {
        margin-bottom: 14px;
      }
    }

    &__facilities {
      margin-top: 30px;
    }

    &__additional-facilities {
      margin-top: 6px;
    }
  }

  .content {
    @include col();
    @include size(9);

    padding: 30px 0 0 28px;

    &__header {
      margin-bottom: 23px;
    }
  }

  .pagination {
    margin-top: 10px;
    align-items: center;
    text-align: center;
  }

  &__listing {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;

    .room-card {
      margin-left: 6px;
      margin-right: 6px;
      width: 270px;
    }
  }
}
