.room-search {
  &__wrapper {
    padding-top: 28px;
    padding-bottom: 57px;
  }

  &__sidebar {
    min-width: 266px;
    margin-right: 59px;
  }

  &__content {
    padding-top: 3px;
  }

  &__header {
    margin-bottom: 21px;
  }

  &__pagination {
    margin-top: 10px;
    padding-right: 13px;
  }

  &__footer {
    background: $white;
    width: $site-max-width;
    margin: 0 auto;
    padding-top: 7px;
  }

  &__copyright {
    background: $white;
    width: $site-max-width;
    margin: 0 auto;
    padding-top: 7px;
  }
}
