extends /pages/layout.pug

block append meta
  meta(name= "keywords", content= "toxin-hotel, search")
  meta(name= "description", content= "Toxin-hotel search page")

block variables
  - var pageTitle = 'Room Search & Filter'
  - var bodyClass = 'room-search'

block append parts
  include /components/label/label.pug
  include /components/off-canvas-toggler/off-canvas-toggler.pug
  include /components/off-canvas/off-canvas.pug
  include /components/form/form.pug
  include /components/datepicker/datepicker.pug
  include /components/counter/counter.pug
  include /components/dropdown-counter/dropdown-counter.pug
  include /components/range-slider/range-slider.pug
  include /components/checkbox/checkbox.pug
  include /components/panel/panel.pug
  include /components/pagination/pagination.pug
  include /components/room-card/room-card.pug
  include /components/room-cards/room-cards.pug
  include /components/form-room-filter/form-room-filter.pug

block append styles
  link(rel='stylesheet', href='./room-search.scss')

block append scripts
  script(src='./room-search.js')

block main
  .main__wrapper.room-search__wrapper
    aside.sidebar.room-search__sidebar
      +form-room-filter

    article.content.room-search__content
      h2.room-search__header Номера, которые мы для вас подобрали
        span.room-search__filter-toggler
          +off-canvas-toggler({connectedWith: 'room-filter-off-canvas'})
            +button({isOutlined: true}) Изменить параметры поиска
      
      .room-search__cards
        +room-cards

      .room-search__pagination
        +pagination({total: 170, perPage: 12, current: 1})

    +off-canvas({id: 'room-filter-off-canvas'})
      +form-room-filter