.room-search {
  .main {
    padding-bottom: 59px;
  }

  .sidebar {
    flex: 0;
    flex-basis: 266px;
    margin-top: 29px;
  }

  .content {
    flex: 1;
    margin-top: 31px;
    margin-left: 60px;

    &__header {
      margin-bottom: 21px;
    }
  }

  &__pagination {
    margin-top: 9px;
    margin-left: -14px;
    align-items: center;
    text-align: center;

    &-label {
      font-size: 14px;
    }
  }
}
