//- Date input component
//- useDatepicker   {boolean} If true - datepicker will be used to select date(s)
//- datepickerMode  {'single' | 'range' | 'multiple'} Single - select only 1 date at a time. 
//-                                                   Range - select date range. 
//-                                                   Multiple - select multiple dates
//- dateFormat      {string} pattern for IMask (ref: https://tc39.github.io/ecma262/#sec-date-time-string-format)
//- mods            {array} Modifier classes
mixin form-field-datetime(props = {})
  include /components/form-field/form-field.pug
  include /components/button/button.pug

  -
    props = Object.assign({
      useDatepicker: false,
      datepickerMode: 'single',
      dateFormat: 'd.m.Y',
      defaultDate: null,
      mods: [],
    }, props)

    attributes = Object.assign({
      type: 'text', 
      placeholder: '',
      'data-use-datepicker': props.useDatepicker,
      'data-datepicker-mode': props.datepickerMode,
      'data-date-format': props.dateFormat,
      'data-input': true,
      'data-default-date': props.defaultDate,
    }, attributes)

    var mods = ['form-field-datetime'].concat(props.mods)
    var togglerMods = ['form-field-datetime__icon-toggle', 'form-field-datetime__icon-toggle_collapsed']

  div(class= mods)
    +form-field({mods: ['form-field-datetime__input']})&attributes(attributes)
    if (props.useDatepicker)
      +button({iconName: 'semi-arrow-down', showIconOnly: true, mods: togglerMods})('data-toggle' = true)
      div(style= "display: none")
        +button({iconName: 'arrow-left', showIconOnly: true, mods: ['form-field-datetime__icon-prev']})
        +button({iconName: 'arrow-right', showIconOnly: true, mods: ['form-field-datetime__icon-next']})
        .form-field-datetime__actions-panel
          +button({value: 'Очистить', isText: true, mods: ['form-field-datetime__reset']})
          +button({value: 'Применить', isText: true, mods: ['form-field-datetime__ok']})