mixin copyright({text = 'Copyright © 2018 Toxin отель. Все права защищены.'} = {})
  include /components/social-icons/social-icons.pug

  .copyright(data-copyright)
    .copyright__wrapper
      .copyright__text= text 
      .copyright__icons
        +social-icons