@import '/components/social-icons/social-icons.scss';

.copyright {
  max-width: $site-max-width;
  min-height: 74px;
  margin: 0 auto;
  padding: 25px $wrapper-padding;
  background: $white;
  font-size: 14px;
  border-top: 1px solid $dark-100;

  &__wrapper {
    display: flex;
    max-width: $content-max-width;
    margin: 0 auto;

    @media (max-width: $break-sm) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__text {
    letter-spacing: -0.1px;
  }

  &__icons {
    margin-top: -2px;
    margin-left: auto;

    @media (max-width: $break-sm) {
      margin-top: 20px;
      margin-left: 0;
    }
  }
}
