mixin copyright
  include /components/social-icons/social-icons.pug

  .copyright
    .copyright__wrapper
      .copyright__text Copyright © 2018 Toxin отель. Все права зачищены.
      .copyright__icons
        +social-icons