//- Form field component
//- mods  {array} Modifier classes
mixin form-field(params = {})
  -
    params = deepmerge({
      mods: [],
    }, params)

    var classList = ['form-field'].concat(params.mods)

  input(class= classList)&attributes(attributes)
