@import '/components/field/field.scss';

.testimonial {
  display: flex;
  font-size: 14px;
  line-height: 24px;

  &__left-col {
    display: flex;
    flex: 0 1 50px;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__right-col {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    margin-left: 8px;
  }

  &__user-img {
    width: 54px;
    height: 54px;
    margin-top: -7px;
    margin-left: -4px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.1);
  }

  &__likes {
    margin-top: 7px;
    margin-left: -4px;
  }

  &__user-name {
    margin-bottom: 4px;
    font-size: 14px;
    word-spacing: -2px;
  }

  &__created-at {
    font-size: 13px;
    letter-spacing: 0.4px;
  }

  &__text {
    margin-top: 11px;
  }
}
