//- userImg     string ('')
//- userName    string ('')
//- createdAt   string ('') - when testimonial was created
//- text        string ('') - testimonial text
//- numLikes    number (0) - number of likes this testimonial has
//- hasVoted    boolean (false) - if true - like button is rendered as "voted"
mixin testimonial({userImg='', userName='', createdAt='', text='', numLikes=0, hasVoted} = {})
  include /components/like/like.pug

  section.testimonial(data-testimonial)
    .testimonial__left-col
      if (userImg)
        img.testimonial__user-img(src = userImg, alt = 'user image', title = userName)
      .testimonial__likes
        +like({value: numLikes, hasVoted: hasVoted})
    .testimonial__right-col
      h3.testimonial__user-name= userName
      if (createdAt)
        span.testimonial__created-at= createdAt
      article.testimonial__text= text