$room-reservation-primary-color: gray !default;
$room-reservation-accent-color: coral !default;
$room-reservation-text-color: black !default;
$room-reservation-title-color: black !default;
$room-reservation-underline: 1px dotted gray;

.room-reservation {
  max-width: 380px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  padding: 40px 30px 30px;
  color: $room-reservation-text-color;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__label {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: $room-reservation-title-color;
  }

  &__arrival {
    flex: 1 1 50%;
    margin-right: 12px;
  }

  &__departure {
    flex: 1 1 50%;
    margin-left: 0.5em;
  }

  &__guests {
    margin-top: 18px;
  }

  &__submit {
    margin-top: 30px;
  }

  &__room-details {
    font-size: 12px;
  }

  &__room-number {
    font-size: 22px;
    font-weight: bold;
    margin-left: 6px;
    color: $room-reservation-title-color;
  }

  &__lux-indicator {
    font-size: 15px;
    font-weight: bold;
    margin-left: 4px;
    color: $room-reservation-primary-color;
  }

  &__price-details {
    color: $room-reservation-accent-color;
    font-size: 12px;
    margin-top: 4px;
  }

  &__price {
    font-weight: bold;
    font-size: 14px;
  }

  &__currency {
    font-weight: bold;
    font-size: 14px;
    margin-right: 5px;
  }

  &__fee {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    font-size: 14px;

    &-title {
      flex: 1 1 60%;
    }

    &-desc {
      flex: 0 1 auto;
      position: relative;
    }

    &-amount {
      flex: 1 1 30%;
      text-align: right;
    }

    &-tooltip {
      position: absolute;
      bottom: 30px;
      left: -90px;
      width: 200px;
      border: 1px solid gray;
      padding: 12px;
      transition: all 0.3s ease-in;
      visibility: hidden;
      opacity: 0;
      border-radius: 4px;
      box-shadow: 0 5px 10px rgba(31, 32, 65, 0.05);
      background-color: white;
      text-align: center;
    }

    .icon:hover ~ &-tooltip {
      visibility: visible;
      opacity: 1;
      transform: translateY(-3px);
    }
  }

  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
    font-weight: bold;
    color: $room-reservation-title-color;
    margin-top: 24px;

    &-underline {
      flex: 1 1 auto;
      align-self: flex-end;
      position: relative;
      top: -8px;
      margin: 0 5px;
      border-bottom: $room-reservation-underline;
    }
  }
}
