//- Login Form
//-
//- registerLink  string ('') - Link to register page
mixin login(props = {})
  include /components/form/form.pug
  include /components/form-field/form-field.pug
  include /components/button/button.pug

  -
    const labels = {
      title: 'Войти',
      email: 'Email',
      password: 'Пароль',
      submit: 'Войти',
      haveAccount: 'Нет аккаунта на Toxin?',
      createAccount: 'Создать'
    }

  .login
    +form
      h2.login__title= labels.title

      .login__email
        +form-field(type= 'email', placeholder= labels.email, required= true)

      .login__password
        +form-field(type= 'password', placeholder= labels.password, required= true)

      .login__submit
        +button({ isExpanded: true, icon: 'arrow-right' })= labels.submit

      .login__have-account
        span= labels.haveAccount
        +button({
          type: 'link',
          href: registerLink,
          isOutlined: true,
        })= labels.createAccount
