.icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;

  &-arrow-right {
    fill: url(#paint0_linear);
  }

  &-arrow-left {
    fill: #bc9cff;
  }

  &-emoticon-happy {
    fill: url(#paint0_linear);
  }

  &-hart {
    fill: #1f2041;
    fill-opacity: 0.25;
  }

  &-hart-active {
    fill: #bc9cff;
  }

  &-location-city {
    fill: url(#paint0_linear);
  }

  &-semi-arrow-down,
  &-semi-arrow-up {
    fill: #1f2041;
    fill-opacity: 0.5;
  }

  &-star,
  &-star-active,
  &-star-half-active {
    fill: url(#paint0_linear);
  }

  &-twitter,
  &-facebook,
  &-instagram {
    fill: url(#paint0_linear);
  }

  &-info {
    &__circle {
      fill: none;
      stroke: rgba(31, 32, 65, 0.25);
    }

    &__sign {
      fill: rgba(31, 32, 65, 0.25);
    }
  }

  &-fire {
    fill: url(#paint0_linear);
  }
}
