//- Social icons
//-
//- icons     array ([]) - Array of icon names 
mixin social-icons({icons = ['twitter', 'facebook', 'instagram']} = {})
  include /components/icon/icon.pug

  .social-icons(data-social-icons)
    each icon in icons
      a.social-icons__link(href = dummyURL)
        +icon({name: icon, size: 'big'})
  