//- Social icons
//-
//- icons     array ([]) - Array of icon objects 
//--- icon {
//---   name    string ('') - Icon name
//---   href    string ('') - Link to social account/page 
//--- }
mixin social-icons({icons: []} = {})
  include /components/icon/icon.pug

  - 
    icons = icons || [{
        name: 'twitter',
        href: dummyURL,
      }, {
        name: 'facebook',
        href: dummyURL,
      }, {
        name: 'instagram',
        href: dummyURL,
    }];

  .social-icons
    each icon in icons
      a(class= 'social-icons__link', href= icon.href)
        +icon({name: icon.name})

  