//- Social icons block
//- icons     {array} Array of icon objects 
//--- name    {string} Icon name
//--- href    {string} Link to social account/page 
//- mods      {array} Modifier classes
mixin social-icons(props = {})
  include /components/icon/icon.pug

  - 
    props = Object.assign({
      icons: [{
        name: 'twitter',
        href: '#'
      }, {
        name: 'facebook',
        href: '#'
      }, {
        name: 'instagram',
        href: '#'
      }],
      mods: []
    }, props)

    var mods = ['social-icons'].concat(props.mods)

  div(class= mods)
    each icon in props.icons
      a(class= 'social-icons__link', href= icon.href)
        +icon({name: icon.name})

  