@import 'flatpickr/dist/flatpickr.css';

.form-field-datetime {
  display: flex;
  width: 100%;
  position: relative;

  &__icon {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
  }

  &__input {
    padding-right: 2.5rem !important;
  }
}
