@import '/components/room-card/room-card.scss';
@import '/components/slider/slider.scss';

.room-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -6px;
  margin-right: -6px;

  @media (max-width: $break-md) {
    margin-left: -15px;
    margin-right: -15px;
    justify-content: center;
  }

  & > * {
    margin-bottom: 21px;
    margin-left: 6px;
    margin-right: 6px;
  }
}
