-
  var defaultRooms = [
    {
      "roomNumber": 888,
      "price": 9990,
      "currency": "₽",
      "rating": 5,
      "numReviews": 145,
      "isLux": true,
      "slider": {
        "slides": [
          {
            "img": "/assets/img/room-cards/room-card-1.png",
            "url": "#room888"
          },
          {
            "img": "/assets/img/room-cards/room-card-2.png",
            "url": "#room888"
          },
          {
            "img": "/assets/img/room-cards/room-card-3.png",
            "url": "#room888"
          },
          {
            "img": "/assets/img/room-cards/room-card-4.png",
            "url": "#room888"
          }
        ],
        "showPagination": true,
        "showNavigation": true,
        "params": {
          "pagination": {
            "clickable": true
          }
        }
      }
    },
    {
      "roomNumber": 840,
      "price": 9900,
      "currency": "₽",
      "rating": 4,
      "numReviews": 65,
      "isLux": false,
      "slider": {
        "slides": [
          {
            "img": "/assets/img/room-cards/room-card-2.png",
            "url": "#room840"
          },
          {
            "img": "/assets/img/room-cards/room-card-3.png",
            "url": "#room840"
          },
          {
            "img": "/assets/img/room-cards/room-card-4.png",
            "url": "#room840"
          },
          {
            "img": "/assets/img/room-cards/room-card-5.png",
            "url": "#room840"
          }
        ],
        "showPagination": true,
        "showNavigation": true,
        "params": {
          "pagination": {
            "clickable": true
          }
        }
      }
    },
    {
      "roomNumber": 980,
      "price": 8500,
      "currency": "₽",
      "rating": 3,
      "numReviews": 35,
      "isLux": true,
      "slider": {
        "slides": [
          {
            "img": "/assets/img/room-cards/room-card-3.png",
            "url": "#room980"
          },
          {
            "img": "/assets/img/room-cards/room-card-4.png",
            "url": "#room980"
          },
          {
            "img": "/assets/img/room-cards/room-card-5.png",
            "url": "#room980"
          },
          {
            "img": "/assets/img/room-cards/room-card-6.png",
            "url": "#room980"
          }
        ],
        "showPagination": true,
        "showNavigation": true,
        "params": {
          "pagination": {
            "clickable": true
          }
        }
      }
    },
    {
      "roomNumber": 856,
      "price": 7300,
      "currency": "₽",
      "rating": 5,
      "numReviews": 19,
      "isLux": false,
      "slider": {
        "slides": [
          {
            "img": "/assets/img/room-cards/room-card-4.png",
            "url": "#room856"
          },
          {
            "img": "/assets/img/room-cards/room-card-5.png",
            "url": "#room856"
          },
          {
            "img": "/assets/img/room-cards/room-card-6.png",
            "url": "#room856"
          },
          {
            "img": "/assets/img/room-cards/room-card-7.png",
            "url": "#room856"
          }
        ],
        "showPagination": true,
        "showNavigation": true,
        "params": {
          "pagination": {
            "clickable": true
          }
        }
      }
    },
    {
      "roomNumber": 740,
      "price": 6000,
      "currency": "₽",
      "rating": 4,
      "numReviews": 44,
      "isLux": false,
      "slider": {
        "slides": [
          {
            "img": "/assets/img/room-cards/room-card-5.png",
            "url": "#room740"
          },
          {
            "img": "/assets/img/room-cards/room-card-6.png",
            "url": "#room740"
          },
          {
            "img": "/assets/img/room-cards/room-card-7.png",
            "url": "#room740"
          },
          {
            "img": "/assets/img/room-cards/room-card-8.png",
            "url": "#room740"
          }
        ],
        "showPagination": true,
        "showNavigation": true,
        "params": {
          "pagination": {
            "clickable": true
          }
        }
      }
    },
    {
      "roomNumber": 982,
      "price": 5800,
      "currency": "₽",
      "rating": 3,
      "numReviews": 56,
      "isLux": false,
      "slider": {
        "slides": [
          {
            "img": "/assets/img/room-cards/room-card-6.png",
            "url": "#room982"
          },
          {
            "img": "/assets/img/room-cards/room-card-7.png",
            "url": "#room982"
          },
          {
            "img": "/assets/img/room-cards/room-card-8.png",
            "url": "#room982"
          },
          {
            "img": "/assets/img/room-cards/room-card-9.png",
            "url": "#room982"
          }
        ],
        "showPagination": true,
        "showNavigation": true,
        "params": {
          "pagination": {
            "clickable": true
          }
        }
      }
    },
    {
      "roomNumber": 678,
      "price": 5500,
      "currency": "₽",
      "rating": 5,
      "numReviews": 45,
      "isLux": false,
      "slider": {
        "slides": [
          {
            "img": "/assets/img/room-cards/room-card-7.png",
            "url": "#room678"
          },
          {
            "img": "/assets/img/room-cards/room-card-8.png",
            "url": "#room678"
          },
          {
            "img": "/assets/img/room-cards/room-card-9.png",
            "url": "#room678"
          },
          {
            "img": "/assets/img/room-cards/room-card-10.png",
            "url": "#room678"
          }
        ],
        "showPagination": true,
        "showNavigation": true,
        "params": {
          "pagination": {
            "clickable": true
          }
        }
      }
    },
    {
      "roomNumber": 450,
      "price": 5300,
      "currency": "₽",
      "rating": 4,
      "numReviews": 39,
      "isLux": false,
      "slider": {
        "slides": [
          {
            "img": "/assets/img/room-cards/room-card-8.png",
            "url": "#room450"
          },
          {
            "img": "/assets/img/room-cards/room-card-9.png",
            "url": "#room450"
          },
          {
            "img": "/assets/img/room-cards/room-card-10.png",
            "url": "#room450"
          },
          {
            "img": "/assets/img/room-cards/room-card-11.png",
            "url": "#room450"
          }
        ],
        "showPagination": true,
        "showNavigation": true,
        "params": {
          "pagination": {
            "clickable": true
          }
        }
      }
    },
    {
      "roomNumber": 350,
      "price": 5000,
      "currency": "₽",
      "rating": 3,
      "numReviews": 77,
      "isLux": false,
      "slider": {
        "slides": [
          {
            "img": "/assets/img/room-cards/room-card-9.png",
            "url": "#room350"
          },
          {
            "img": "/assets/img/room-cards/room-card-10.png",
            "url": "#room350"
          },
          {
            "img": "/assets/img/room-cards/room-card-11.png",
            "url": "#room350"
          },
          {
            "img": "/assets/img/room-cards/room-card-12.png",
            "url": "#room350"
          }
        ],
        "showPagination": true,
        "showNavigation": true,
        "params": {
          "pagination": {
            "clickable": true
          }
        }
      }
    },
    {
      "roomNumber": 666,
      "price": 5000,
      "currency": "₽",
      "rating": 5,
      "numReviews": 25,
      "isLux": false,
      "slider": {
        "slides": [
          {
            "img": "/assets/img/room-cards/room-card-10.png",
            "url": "#room666"
          },
          {
            "img": "/assets/img/room-cards/room-card-11.png",
            "url": "#room666"
          },
          {
            "img": "/assets/img/room-cards/room-card-12.png",
            "url": "#room666"
          },
          {
            "img": "/assets/img/room-cards/room-card-1.png",
            "url": "#room666"
          }
        ],
        "showPagination": true,
        "showNavigation": true,
        "params": {
          "pagination": {
            "clickable": true
          }
        }
      }
    },
    {
      "roomNumber": 444,
      "price": 5000,
      "currency": "₽",
      "rating": 3,
      "numReviews": 15,
      "isLux": false,
      "slider": {
        "slides": [
          {
            "img": "/assets/img/room-cards/room-card-11.png",
            "url": "#room444"
          },
          {
            "img": "/assets/img/room-cards/room-card-12.png",
            "url": "#room444"
          },
          {
            "img": "/assets/img/room-cards/room-card-1.png",
            "url": "#room444"
          },
          {
            "img": "/assets/img/room-cards/room-card-2.png",
            "url": "#room444"
          }
        ],
        "showPagination": true,
        "showNavigation": true,
        "params": {
          "pagination": {
            "clickable": true
          }
        }
      }
    },
    {
      "roomNumber": 352,
      "price": 5000,
      "currency": "₽",
      "rating": 3,
      "numReviews": 55,
      "isLux": false,
      "slider": {
        "slides": [
          {
            "img": "/assets/img/room-cards/room-card-12.png",
            "url": "#room352"
          },
          {
            "img": "/assets/img/room-cards/room-card-1.png",
            "url": "#room352"
          },
          {
            "img": "/assets/img/room-cards/room-card-2.png",
            "url": "#room352"
          },
          {
            "img": "/assets/img/room-cards/room-card-3.png",
            "url": "#room352"
          }
        ],
        "showPagination": true,
        "showNavigation": true,
        "params": {
          "pagination": {
            "clickable": true
          }
        }
      }
    }
  ]

mixin room-cards(rooms = defaultRooms)
  include /components/room-card/room-card.pug
  include /components/slider/slider.pug

  ul.room-cards
    each room in rooms
      +room-card(room)
        +slider(room.slider)