.room-card {
  flex: 1;
  min-width: 250px;
  max-width: 270px;
  padding-bottom: 10px;
  background: $white;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;

  @media (max-width: $break-md) {
    margin-left: 15px;
    margin-right: 15px;
  }

  &__media {
    margin-bottom: 11px;
  }

  &__row {
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px;
  }

  &__row + &__row::before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    height: 1px;
    border-top: 1px solid rgba(31, 32, 65, 0.1);
  }

  &__number {
    margin-left: 12px;
    font-family: $font-family-accent;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;

    &::before {
      content: '№';
      font-size: 14px;
      margin-right: 3px;
    }
  }

  &__lux-indicator {
    margin-left: 5px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #bc9cff;
  }

  &__room-details {
    margin-right: auto;
  }

  &__price-details {
    margin-right: 8px;
    margin-top: 2px;
    color: rgba(31, 32, 65, 0.5);
    font-size: 12px;
  }

  &__price {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;

    &::first-letter {
      margin-right: 4px;
    }
  }

  &__currency {
    font-weight: bold;
    font-size: 14px;
    margin-right: 4px;
  }

  &__rating {
    margin-left: 15px;
    margin-right: auto;
  }

  &__reviews {
    margin-top: 4px;
    margin-right: 10px;
    color: rgba(31, 32, 65, 0.5);
    position: relative;
    font-size: 14px;

    &-amount {
      font-weight: bold;
      margin-right: 5px;
    }
  }
}
