doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")

      title #{pageTitle || 'toxin'}

      block styles
        link(rel="stylesheet", href="styles/app.scss")

      block scripts
        script(src="scripts/app.js", defer)

  body
    span(style={visibility: 'hidden', position: 'absolute', 'z-index': -1})
      include /assets/sprites/icons-sprite.svg
    block header
    block content
    block footer
