doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")

      title #{pageTitle || 'toxin'}

      block styles
        link(rel="stylesheet", href="styles/app.scss")

      block scripts
        script(src="scripts/app.js", defer)
        include components/project/header/header.pug
        include components/project/footer/footer.pug
        include components/project/copyright-bar/copyright-bar.pug

  body
    span(style={visibility: 'hidden', position: 'absolute', 'z-index': -1})
      include /assets/sprites/icons-sprite.svg
    
    .page__container
      .page__wrapper
        .page__header
          block header
            +header({isLoggedIn: false})

        block content

        block footer
          +footer()
          +copyright-bar()