doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")

      title Toxin Hotel Pages

      style(type= "text/css").
        .main {
          padding-left: 20px;
        }
        .page-links {
          margin: 0;
          padding: 0;
          list-style: none;
        }
        .page-link {
          padding: 5px;
          font-size: 16px;
        }

  body
    main.main
      h1 Toxin Hotel Pages
      ul.page-links
        li.page-link
          h2 UI Kit
          ul
            li.page-link
              a(href="./uikit/colors-and-type/colors-and-type.pug") Colors & Type
            li.page-link
              a(href="./uikit/form-elements/form-elements.pug") Form Elements
            li.page-link
              a(href="./uikit/cards/cards.pug") Cards
            li.page-link
              a(href="./uikit/headers-and-footers/headers-and-footers.pug") Headers & Footers
        li.page-link
          h2 Site Pages
          ul
            li.page-link
              a(href="/pages/login.pug") Login
            li.page-link
              a(href="./pages/registration.pug") Registration
            li.page-link
              a(href="./pages/landing/landing.pug") Landing Page
            li.page-link
              a(href="./pages/room-search/room-search.pug") Room Search
            li.page-link
              a(href="./pages/room-details/room-details.pug") Room Details
