doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")

      title Toxin Hotel Pages

  body
    h1 Toxin Hotel Pages
    ul
      li
        a(href="/uikit/uikit.pug") UIKit
      li
        a(href="./pages/login/login-page.pug") Login
      li
        a(href="./pages/registration/registration-page.pug") Registration
      li
        a(href="./pages/landing/landing-page.pug") Landing Page
      li
        a(href="./pages/room-search/room-search-page.pug") Room Search
      li
        a(href="./pages/room-details/room-details-page.pug") Room Details