doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title toxin

    link(rel="stylesheet", href="./app.scss")
    script(src="./app.js", defer)

  body
    header.header toxin header