extends base.pug

include blocks/library/icon/icon.pug
include blocks/library/menu/menu.pug

block content
  section.showcase
    h1.showcase__title icons
    .showcase__content
      .ui-icons
        each iconName in icons
          .ui-icons__icon-info
            .ui-icons__name= iconName
            .ui-icons__icon
              +icon({name: iconName})

  section.showcase
    h1.showcase__title header
    .showcase__content
      - var menuData = getData('mainMenu')
      +menu({items: menuData})
