extends base.pug

include blocks/library/icon/icon.pug
include blocks/library/button/button.pug

include blocks/project/header/header.pug
include blocks/project/footer/footer.pug
include blocks/project/copyright-bar/copyright-bar.pug

block content
  section.showcase
    h1.showcase__title icons
    .showcase__content
      .ui-icons
        each iconName in icons
          .ui-icons__icon-info
            .ui-icons__name= iconName
            .ui-icons__icon
              +icon({name: iconName})

  section.showcase
    h1.showcase__title header
    .showcase__content
      +header({isLoggedIn: false})
      +header({isLoggedIn: true})

  section.showcase
    h1.showcase__title footer
    .showcase__content
      +footer
      +footer({type: 'creative'})

  section.showcase
    h1.showcase__title copyright bar
    .showcase__content
      +copyright-bar

  section.showcase
    h1.showcase__title buttons
    .showcase__content
      .ui-buttons
        +button({value: 'click me', isRounded: false})
        +button({value: 'click me', isRounded: false, isOutlined: true})
        +button({value: 'click me'})
        +button({value: 'click me', isOutlined: true})
        +button({value: 'click me', isText: true})
        +button({value: 'перейти к оплате', isDisabled: true})
        +button({value: 'перейти к оплате', isExpanded: true})
        +button({value: 'перейти к оплате', isExpanded: true, isOutlined: true, icon: {name: 'arrow-right', position: 'right'}})
        +button({value: 'перейти к оплате', icon: {name: 'arrow-right'}})
        +button({value: 'перейти к оплате', isOutlined: true, icon: {name: 'arrow-left', position: 'left'}})