//- Radio
//- label   {string} Label text
//- desc    {string} Description text
//- mods    {array} Modifier classess
mixin form-field-radio(props = {})
  include /components/library/form-field/form-field.pug

  -
    props = Object.assign({
      label: '',
      desc: '',
      mods: []
    }, props)

    if (attributes.id === undefined) {
      attributes.id = `radio-${Math.random().toString(36).substring(2, 7)}`
    }
    attributes.type = 'radio'

    var mods = ['radio'].concat(props.mods)
    var inputMods = ['radio__input']

  div(class= mods)
    .radio__wrapper
      +form-field({mods: inputMods})&attributes(attributes)
      span.radio__custom
      if (props.label)
        label.radio__label(for= attributes.id)= props.label
    if (props.desc)
      .radio__desc= props.desc

