//- Room Reservation
//-
//- room          string ('') - room number
//- isLux         boolean (false) - If true - number is of lux quality, false - otherwise
//- price         number (0) - price per day
mixin room-reservation(props = {})
  include /components/form/form.pug
  include /components/label/label.pug
  include /components/datepicker/datepicker.pug
  include /components/dropdown-counter/dropdown-counter.pug
  include /components/counter/counter.pug
  include /components/button/button.pug

  -
    const { room, isLux, price, currency } = Object.assign({
      room: '',
      isLux: false,
      price: 0,
    }, props);

    const labels = {
      submit: 'Забронировать',
      arrival: 'Прибытие',
      departure: 'Выезд',
      guests: 'Гости',
      lux: 'люкс',
    };

    const classList = ['room-reservation']
    if (isLux) classList.push('room-reservation_is-lux')

  div(class = classList, data-room-reservation)
    +form
      .room-reservation__row
        .room-reservation__room-details №
          span.room-reservation__room-number= room
          if (isLux)
            span.room-reservation__lux-indicator= labels.lux
        .room-reservation__price-details
          span.room-reservation__price= price
          span.room-reservation__currency ₽
          | в сутки

      .room-reservation__dates
        .room-reservation__arrival(data-room-reservation-arrival)
          +label({ value: labels.arrival, pos: 'top', theme: ['bold', 'upper'] })
            +datepicker(placeholder = 'ДД.ММ.ГГ')
        .room-reservation__departure(data-room-reservation-departure)
          +label({ value: labels.departure, pos: 'top', theme: ['bold', 'upper'] })
            +datepicker(placeholder = 'ДД.ММ.ГГ')

      .room-reservation__guests
        +label({ value: labels.guests, pos: 'top', theme: ['bold', 'upper'] }) 
          +dropdown-counter({ resultType: 'concat', plurals: ['гость', 'гостя', 'гостей'] })(placeholder = 'Сколько гостей')
            +label({ value: 'взрослые', pos: 'left', theme: ['bold', 'upper'] })
              +counter({ plurals: ['взрослый', 'взрослых', 'взрослых'] })

            +label({ value: 'дети', pos: 'left', theme: ['bold', 'upper'] })
              +counter({ plurals: ['ребенок', 'детей', 'детей'] })

            +label({ value: 'младенцы', pos: 'left', theme: ['bold', 'upper'] })
              +counter({ plurals: ['младенец', 'младенца', 'младенцев'] })

      .room-reservation__fees
        .room-reservation__fee
          .room-reservation__fee-title 
            span.room-reservation__fee-price 9 990
            span.room-reservation__fee-currency ₽
            span.room-reservation__fee-time х 4 суток  
          .room-reservation__fee-total 
            span.room-reservation__fee-price 39 960
            span.room-reservation__fee-currency ₽
        .room-reservation__fee
          .room-reservation__fee-title 
            | Сбор за услуги: скидка 
            span.room-reservation__fee-price 2 179
            span.room-reservation__fee-currency ₽
          .room-reservation__fee-icon
            +icon({ name: 'info', size: 'auto' })
          .room-reservation__fee-total 
            span.room-reservation__fee-price 0
            span.room-reservation__fee-currency ₽
        .room-reservation__fee
          .room-reservation__fee-title Сбор за дополнительные услуги
          .room-reservation__fee-icon
            +icon({ name: 'info', size: 'auto' })
          .room-reservation__fee-total 
            span.room-reservation__fee-price 300
            span.room-reservation__fee-currency ₽
        .room-reservation__fees-result
          .room-reservation__fees-title Итого
          .room-reservation__fees-separator
          .room-reservation__fees-total
            span.room-reservation__fees-price 38 081
            span.room-reservation__fees-currency ₽

      .room-reservation__submit
        +button({ isExpanded: true, icon: 'arrow-right-light' })= labels.submit