.checkbox {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__input {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  &__custom {
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 0.25rem;
    cursor: pointer;
  }

  &__input:hover ~ &__custom {
    border: 1px solid #bc9cff;
  }

  &__input:focus ~ &__custom {
    border: 1px solid #bc9cff;
  }

  &__input:checked ~ &__custom {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.4644 4.4077L5.707 8.6503l-1.4142 1.4142L.0502 5.8219l1.4142-1.4142z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M8.5355 2.9935l1.4142 1.4142-5.6569 5.6568-1.4142-1.4142 5.6569-5.6568z' fill='url(%23paint1_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='7.8284' y1='2.2864' x2='2.1715' y2='7.9432' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='7.8284' y1='2.2864' x2='2.1715' y2='7.9432' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: 60%;
    border: 1px solid #bc9cff;
  }

  &__label {
    margin: 0 0 0 0.625rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: rgba(31, 32, 65, 0.5);
    cursor: pointer;
  }

  &__desc {
    font-size: 0.75rem;
    line-height: 0.875rem;
    color: rgba(31, 32, 65, 0.5);
    margin: 0.3125rem 0 0 1.875rem;
  }

  &_rich {
    .checkbox__label {
      font-weight: bold;
      color: rgba(31, 32, 65, 0.75);
    }
  }

  &_theme-toggle {
    .checkbox__custom {
      position: relative;
      width: 2.5rem;
      height: 1.25rem;
      border-radius: 0.625rem;
    }

    .checkbox__custom::before {
      position: absolute;
      content: '';
      width: 0.625rem;
      height: 0.625rem;
      top: 0.25rem;
      left: 0.25rem;
      border-radius: 50%;
      background: rgba(31, 32, 65, 0.25);
      transition-property: all;
      transition-duration: 300ms;
    }

    .checkbox__input:checked ~ .checkbox__custom {
      background-image: none;
    }

    .checkbox__input:checked ~ .checkbox__custom::before {
      left: 1.5rem;
      background: url("data:image/svg+xml,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='12' rx='6' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='6' x2='6' y2='12' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center center;
    }

    .checkbox__desc {
      margin: 0.3125rem 0 0 3.125rem;
    }
  }
}
