//- Image Slider
//-
//- slides             array ([]) - Array of slide objects
//--- slide {
//---   img     string ('') - image path
//---   url     string ('') - image url
//--- }
//- params             object ({}) - Swiper slider parameters [http://idangero.us/swiper/api/#parameters]
//- showPagination     boolean (false) - If true - pagination will be shown
//- showNavigation     boolean (false) - If true - navigation buttons will be shown
//- showScrollbar      boolean (false) - If true - scrollbar will be shown
//- showThumbnails     boolean (false) - If true - show another slider with thumbnails
//- thumbnailsParams   object ({}) - Swiper slider parameters [http://idangero.us/swiper/api/#parameters]
mixin slider(props = {})
  -
    const { slides, params, showPagination, showNavigation, showScrollbar, showThumbnails, thumbnailsParams } = Object.assign({
      slides: [], 
      params: {}, 
      showPagination: false, 
      showNavigation: false, 
      showScrollbar: false, 
      showThumbnails: false, 
      thumbnailsParams: {}
    }, props);

    if (showNavigation) {
      params.navigation = Object.assign(params.navigation || {}, {
        prevEl: '.swiper-button-prev',
        nextEl: '.swiper-button-next'
      })
    }

    if (showPagination) {
      params.pagination = Object.assign(params.pagination || {}, {
        el: '.swiper-pagination'
      })
    } 

    if (showScrollbar) {
      params.scrollbar = Object.assign(params.scrollbar || {}, {
        el: '.swiper-scrollbar'
      })
    }

    if (showThumbnails) {
      params.showThumbnails = true;
    }

  .slider
    .swiper-container('data-params' = params)
      .swiper-wrapper
        each slide in slides
          if 'img' in slide
            a(class = 'swiper-slide', href = `${slide.url || dummyURL}`)
              img(src = slide.img)

      if (showPagination)
        .swiper-pagination

      if (showNavigation)
        .swiper-button-prev
        .swiper-button-next

      if (showScrollbar)
        .swiper-scrollbar

    if (showThumbnails)
      .swiper-container-thumbs('data-params' = thumbnailsParams)
        .swiper-wrapper
          each slide in slides
            if 'img' in slide
              .swiper-slide.swiper-slide_thumbnail(style = `background-image: url(${slide.img})`)
      
      