//- Image Slider
//-
//- slides             array ([]) - Array of slide objects
//--- slide {
//---   img     string ('') - image path
//---   url     string ('') - image url
//--- }
//- params             object ({}) - Swiper slider parameters [http://idangero.us/swiper/api/#parameters]
//- showPagination     boolean (false) - If true - pagination will be shown
//- showNavigation     boolean (false) - If true - navigation buttons will be shown
mixin slider({slides = [], params = {}, showPagination = false, showNavigation = false} = {})
  -
    const classList = ['slider'];

    if (showNavigation) {
      classList.push('slider_with-navigation');

      params.navigation = Object.assign(params.navigation || {}, {
        prevEl: '.swiper-button-prev',
        nextEl: '.swiper-button-next'
      })
    }

    if (showPagination) {
      classList.push('slider_with-pagination');

      params.pagination = Object.assign(params.pagination || {}, {
        el: '.swiper-pagination'
      })
    } 

  div(class = classList, data-slider)
    .swiper-container(data-params = params, data-slider-container)
      .swiper-wrapper
        each slide in slides
          if 'img' in slide
            a.swiper-slide(href = slide.url || dummyURL)
              img(src = slide.img, alt = 'slider image')

      .slider__pan-left
      .slider__pan-right

      if (showPagination)
        .swiper-pagination

      if (showNavigation)
        .swiper-button-prev
        .swiper-button-next
      