//- Image Slider
//-
//- slides             array ([]) - Array of slide objects
//--- slide {
//---   img     string ('') - image path
//---   url     string ('') - image url
//--- }
//- params             object ({}) - Swiper slider parameters [http://idangero.us/swiper/api/#parameters]
//- showPagination     boolean (false) - If true - pagination will be shown
//- showNavigation     boolean (false) - If true - navigation buttons will be shown
mixin slider(props = {})
  -
    const { slides, params, showPagination, showNavigation, showScrollbar, showThumbnails, thumbnailsParams } = Object.assign({
      slides: [], 
      params: {}, 
      showPagination: false, 
      showNavigation: false, 
    }, props);

    if (showNavigation) {
      params.navigation = Object.assign(params.navigation || {}, {
        prevEl: '.swiper-button-prev',
        nextEl: '.swiper-button-next'
      })
    }

    if (showPagination) {
      params.pagination = Object.assign(params.pagination || {}, {
        el: '.swiper-pagination'
      })
    } 

  .slider('data-slider' = true)
    .swiper-container('data-params' = params)
      .swiper-wrapper
        each slide in slides
          if 'img' in slide
            a(class = 'swiper-slide', href = `${slide.url || dummyURL}`)
              img(src = slide.img)

      .swiper-pan-left
      .swiper-pan-right

      if (showPagination)
        .swiper-pagination

      if (showNavigation)
        .swiper-button-prev
        .swiper-button-next
      