//- Dropdown Counter
//-
//- resultType    oneOf ('concat' | 'total') - 'total' -> sum of counter numValues; 
//-                                            'concat' -> concatenate counters strValues
//- plurals       array ([]) - Plural forms of 'total' for [1, 2, 0] items (f.ex. ['спальни', 'спальня', 'спален'])
//- icon          string ('semi-arrow-down') - Icon name for toggler (in header)
//- isCollapsed   boolean (true) - If true - will render collapsed, false - expanded.
//- showActions   boolean (true)
mixin dropdown-counter({resultType='total', plurals=[], icon='semi-arrow-down', isCollapsed=true, showActions=true} = {})
  include /components/icon/icon.pug
  include /components/field/field.pug
  include /components/counter/counter.pug

  -
    const classList = ['dropdown-counter'];

    if (isCollapsed) classList.push('dropdown-counter_is-collapsed');
    if (showActions) classList.push('dropdown-counter_visible-actions');
  
  div(
    class = classList, 
    data-dropdown-counter,
    data-counters = counters, 
    data-result-type = resultType, 
    data-plurals = plurals)

    input(type = 'text', data-dropdown-counter-value, hidden = true)
    .dropdown-counter__alt-wrapper
      input.dropdown-counter__alt(
        type = 'text',
        data-dropdown-counter-alt, 
        readonly = true)&attributes(attributes)
      .dropdown-counter__toggler(data-dropdown-counter-toggler)
        +icon({ name: 'semi-arrow-down', size: 'small' })
    .dropdown-counter__content
      if block
        block
      .dropdown-counter__actions(data-dropdown-counter-actions)
        button.dropdown-counter__reset(data-dropdown-counter-reset) Очистить
        button.dropdown-counter__ok(data-dropdown-counter-ok) Применить
