$dc-border: 1px solid #ccc !default;
$dc-border-radius: 4px !default;
$dc-btn-reset-color: #000 !default;
$dc-btn-ok-color: #000 !default;
$dc-body-bg: white !default;

.dropdown-counter {

  $root: &;

  position: relative;

  &__value-alt {
    position: relative;
    border-radius: $dc-border-radius;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
  }

  &__toggler {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    transition: transform 300ms ease-out;
  }

  &__content {
    position: absolute;
    z-index: 100;
    width: 100%;
    border: $dc-border;
    padding: 3px 8px 8px 14px;
    transition: all 0.3s ease-in-out 0s;
    visibility: visible;
    opacity: 1;
    border-top: none;
    border-bottom-right-radius: $dc-border-radius;
    border-bottom-left-radius: $dc-border-radius;
    background-color: $dc-body-bg;

    & > * + * {
      margin-top: 6px;
    }
  }

  &__actions {
    display: none;
    align-items: center;
    margin-top: 24px;
  }

  &__reset {
    display: none;
    height: auto;
    padding: 0;
    color: $dc-btn-reset-color;
    font-weight: bold;

    &_is-visible {
      display: block;
    }
  }

  &__ok {
    height: auto;
    padding: 0;
    color: $dc-btn-ok-color;
    font-weight: bold;
    margin-left: auto;
  }

  &_is-collapsed {
    #{$root}__value-alt {
      border-bottom-right-radius: $dc-border-radius;
      border-bottom-left-radius: $dc-border-radius;
    }

    #{$root}__content {
      z-index: -1;
      visibility: hidden;
      opacity: 0;
    }

    #{$root}__toggler {
      transform: translateY(-50%) rotate(0.5turn);
    }
  }

  &_visible-actions {
    #{$root}__actions {
      display: flex;
    }
  }
}
